<div class="snack_right_video">
  <h2>Sanck Right</h2>
  <div class="snack_right_img"></div>
</div>
<div class="content_box_wrapper">
  <div class="content_box">
      <div>
          <img src="assets/man.png" alt="No Image"/>
      </div>
      <div>
          <img src="assets/table.png" alt="No Image"/>
      </div>
      <div class="text">
          <p>With a busy work schedule, it's hard to find time for all the things that make you fit and happy. Without a balanced life, it's easy to put your health on the sidelines and just keep going.</p>
      </div>
  </div>
  <div class="content_box">
      <div class="text">
          <p>It's no news that good snacking habits can prevent overeating, keep blood sugar balanced, help you lose weight and improve mood and focus. </p>
      </div>
      <div>
          <img src="assets/fruit.png" alt="No Image"/>
      </div>
      <div>
          <img src="assets/body.png" alt="No Image"/>
      </div>
  </div>
  <div class="content_box">
      <div>
          <img src="assets/healthy.png" alt="No Image"/>
      </div>
      <div>
          <img src="assets/van.png" alt="No Image"/>
      </div>
      <div class="text">
          <p>We observed that evening snack time was the most overlooked in terms of keeping things healthy. That's why Munchies brings to you a bag full of snacks you need for the whole week.</p>
      </div>
  </div>
  <h2 class="text-upper">How it works</h2>
  <div class="boxes">
      <div class="box">
          <div class="img">
              <img src="" alt="No Image" />
          </div>
          <h3 class="text-upper">Click Subscribe</h3>
          <p>Go ahead take that first step and subscribe. Try our one week trial pack today.</p>
      </div>
      <div class="box">
          <div class="img">
              <img src="" alt="No Image" />
          </div>
          <h3 class="text-upper">CUSTOMIZE</h3>
          <p>Tell us what flavours and snacks you like and dislike and we will customize your munchies bag to your liking.</p>
      </div>
      <div class="box">
          <div class="img">
              <img src="" alt="No Image" />
          </div>
          <h3 class="text-upper">WE DELIVER</h3>
          <p>We deliver a different set of snacks each week! It's easy to get bored with a healthy snacking regime. Our collaboration with various companies and home cooks allows us to provide just the right amount of variation.

          </p>
      </div>
      <div class="box">
          <div class="img">
              <img src="" alt="No Image" />
          </div>
          <h3 class="text-upper">EXPERIENCE THE BENEFITS</h3>
          <p>Whether you're at work or at home everyone gets hungry between 4pm and 7pm. Choose something healthy and wholesome instead and enjoy the health benefits!</p>
      </div>
  </div>
  <div class="subscribe_btn2">
      <a href="#" role="button">Subscribe!</a>
  </div>
  <div class="whats_inside">
      <h2 class="text-upper">What's Inside</h2>
      <img src="assets/whats_inside.png" alt="No Image"/>
      <p>Inside every munchies bag is a mix of healthy and hearty snacks. We've collaborated with some of the best snacking companies and home chefs to give you the best experience. Depending on your customization we'll deliver a different set of snacks each week at your doorstep. <span>Try our one week trial pack today!</span></p>
  </div>
  <div class="food_box_wrapper">
      <div class="food_box">
          <div class="text_area">
              <h3>Makhana in many flavours!</h3>
              <p>Foxnut or Makhana is the seed of the lotus flower. The collection of fox nuts requires skilled labour. </p>
              <p>Their low sodium and high potassium and magnesium content make them very useful for people with high blood pressure. </p>
              <p>People looking for weight loss should try makhana, as they are very low in calories but can fill the stomach. This helps control hunger pangs and intake of high-calorie foods.</p>
          </div>
          <div class="img">
              <img src="assets/makhana.png" alt="No Image" />
          </div>
      </div>
      <div class="food_box">
          <div class="img">
              <img src="assets/energy_bars.jpg" alt="No Image" />
          </div>
          <div class="text_area">
              <h3>Energy Bars</h3>
              <p>Energy Bars contain balanced proportions of carbohydrates, proteins, fat, calories and fibre along with a host of vitamins and nutrients.</p>
              <p>They are easy to take with you and are perfect to satiate your cravings.  </p>
          </div>
      </div>
      <div class="food_box">
          <div class="text_area">
              <h3>Cookies</h3>
              <p>Yes, Cookies! They can be healthy too!
                  We'll give you a variety of yummy healthy cookies to look forward to.</p>
              <p>We have gluten-free, almond flour baked, ragi choco cookies, flax seed cookies, millet and rolled oat cookies just to name a few.</p>
              <p>All these are power packed with nutrients and are sure to satisfy your cravings.</p>
          </div>
          <div class="img">
              <img src="assets/cookies.png" alt="No Image" />
          </div>
      </div>
      <div class="food_box">
          <div class="img">
              <img src="assets/fruit_juice.jpg" alt="No Image" />
          </div>
          <div class="text_area">
              <h3>Cold-pressed and Fresh fruit juices</h3>
              <p>There many benefits of cold pressed juices are boundless; whether you're a couch potato or a die hard gym freak. </p>
              <p>Who would say no to full body health!</p>
              <p>Juices help your body in the detoxification process and can pave the your way to the gateway of good health.</p>
          </div>
      </div>
      <div class="food_box">
          <div class="text_area">
              <h3>Nut Mixes</h3>
              <p class="remove_margin_bottom">Eating nuts as part of healthy diet is good for your heart.</p>
              <p class="remove_margin_top">Besides protein nuts contain unsaturated fats, Omega3 fatty acids, fibre, vitamin E, plant sterols and L-arginine. This is a substance that helps improve the health of your artery walls by making them more flexible and less prone to blood clots that can block blood flow.</p>
          </div>
      </div>
  </div>
</div>