 .select_delivery_address_wrapper {
    width: 70%;
    margin: 0 auto;
    padding: 60px 0px;
    display: block;
    height: 100%;
    overflow: hidden;
}

.select_delivery_address_wrapper h3 {
    font-size: 23px;
    color: #E5663D;
}
/* .delivery_form form .row:first-child {
    width: 40%;

    margin-left: 0px;
    display: inline-block!important;
}
.delivery_form form .row:nth-child(2) {
    width: 59%;
    
    margin-left: 1%;
    display: inline-block;
} */
.form_control {
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 20px;
    border: 2px solid rgba(145, 145, 145, 1);
    color: black;
    font-family: 'Comfortaa';
    font-size: 16px;
    background-color: transparent;
    line-height: 1.4em;
    
}
.invalid-feedback {    
    color: #a94442;
    background-color: #f2dede;
    border: 2px solid #f2dede !important;
    margin-bottom: 20px;
}
.field p {
    margin-top: 0;
    font-size: 14px;
    color: #E5663D;
}
.btns .btn:first-child {
    margin-right: 30px;
}
.btn {
    text-decoration: none;
    color:#323232;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 25px;
    border: 2px solid rgba(50, 50, 50, 1);
    margin-top: 50px;
    cursor: pointer;
    outline: none;
    float: left;
    font: 'Comfortaa';
}
.btn a {
    text-decoration: none;
    color:#323232;
    padding: 10px 20px;
    background-color:transparent;
    border-radius: 20px;
    border: 2px solid rgba(50, 50, 50, 1);
    
}
.btn:hover {
    color: #fff;
    background-color: rgba(50, 50, 50, 1);
    border: 2px solid rgba(50, 50, 50, 1);
}
.btn.ok_btn {
    padding: 10px 40px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

@media screen and (max-width: 922px){
    .select_delivery_address_wrapper .deliver_form_fields_wrapper .field_first{
         width: 98%!important;
        margin-right: 0px!important;
        
        
    }
    .select_delivery_address_wrapper .deliver_form_fields_wrapper .field_second{
        
        width: 98%!important;
    
    }
    
   
    
}
@media only screen and (max-width: 500px){
    .select_delivery_address_wrapper {
        width: 90%;
    }
    
}

.dd_custom{
    margin-bottom: 20px;
}

.select_delivery_address_wrapper .deliver_form_fields_wrapper {
     display: flex; 
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
}

.select_delivery_address_wrapper .deliver_form_fields_wrapper .field_first {

    width: 237px;
    margin-right: 10px;
    
} 
.select_delivery_address_wrapper .deliver_form_fields_wrapper .field_second{
    width: 370px;
   
}
