<div class="header_wrapper">
    <header class="site_header">
        <nav>
            <div class="wrapper">
                <div class="logo">
                    <a href="../../index.html"><img src="../assets/logo.png" alt="No Image" /></a>
                </div>
                <ul>
                    <li class="bars open">
                        <div class="bar1"></div><div class="bar2"></div><div class="bar3"></div>
                    </li>
                    <li><a routerLink="/collaborate">Collaborate</a></li>
                    <li><a routerLink="/help">Help</a></li>
                    <li><a routerLink="/contact">Contact</a></li>
                    <li><a routerLink="/signIn">Sign In</a></li>
                    <li><a routerLink="/subscribe">Subscribe</a></li>
                </ul>
                <div class="responsive_menu">
                    <div class="menu_list">
                        <div class="menu_item">
                            <a class="active" routerLink="/collaborate">Collaborate</a>
                        </div>
                        <div class="menu_item">
                            <a routerLink="/help">Help</a>
                        </div>
                        <div class="menu_item">
                            <a routerLink="/contact">Contact</a>
                        </div>
                        <div class="menu_item">
                            <a routerLink="/signIn">Sign IN</a>
                        </div>
                        <div class="menu_item">
                            <a routerLink="/subscribe">Subscribe</a>
                        </div>
                    </div>
                </div>
            <!-- <div class="subscribe_btn"><a href="#">Subscribe</a></div> --> 
            </div>
        </nav>
    </header>
</div>