
<footer>
  <div class="content">
      <div class="social_media_icons">
          <a href="#"><span><img src="../../assets/facebook.png" /></span></a>
          <a href="#"><span><img src="../../assets/instagram.png" /></span></a>
      </div>
      <div class="footer_line">
          <div class="copy_right"><span>&copy; 2018 Amedes Foods Pvt. Ltd</span></div>
          <div class="refund_and_cancel"><a routerLink="/refund-and-cancellation">Refund and Cancellation</a></div>
          <div class="terms_and_conditions">Terms & Conditions</div>
          <div class="privacy_policy"><a routerLink="/privacy-policy">Privacy Policy</a></div>
          <div class="Cookie_policy">Cookie Policy</div>
         <!-- <div class="Cookie_policy"><a routerLink="/delivery">Delivery</a></div>
          <div class="Cookie_policy"><a routerLink="/order-summary">Order Summary</a></div>
          <div class="Cookie_policy"><a routerLink="/manage-subscription">Manage Subscription</a></div>
          <div class="Cookie_policy"><a routerLink="/my-orders">My Orders</a></div>
          <div class="Cookie_policy"><a routerLink="/skip-week">Skip a Week</a></div>
          <div class="Cookie_policy"><a routerLink="/thank-you">Thank you</a></div>
          <div class="Cookie_policy"><a routerLink="/personal-details">Personal Details</a></div>
          <div class="Cookie_policy"><a routerLink="/change-password">Change Password</a></div> -->
      </div>
  </div>
</footer>