<div class="signin_page_wrapper">
    <div class="signin_page_first_box">
        <img src="../assets/a.png" />
    </div>
    <div class="signin_box">
        <div class="signin_box_content">
            <h2>Welcome to Munchies!</h2>
            <input class="border_bottom" type="text" name="email" placeholder="Email ID" required />
            <input class="border_bottom" type="password" name="password" placeholder="Password" required />
            <div class="forgot_remember_links">
                <div class="remember_me"><input type="checkbox" name="chk" checked /> <span>Remember Me</span></div>
                <div class="forgot_password">Forgot Password</div>
            </div>
            <div class="sign_in_button">
                <a href="#" role="button">Sign In</a>
            </div>
            <div class="sign_up_wrapper">
                <div class="dont_have_account_text">Don't have an account?</div>
                <div class="sign_up_text">Sign Up now</div>
            </div>
            <div class="or_login_with">
                <div class="or">or</div>
                <div class="loginwith">Log in with</div>
            </div>
            <div class="facebook_google">
                <img src="../assets/fb.png" alt="No Image"/>
                <img src="../assets/google_plus.png" alt="No Image"/>
            </div>
        </div>
    </div>
</div>