.personal_details_wrapper {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.personal_details_wrapper h2 {
    font-size: 23px;
    color: #E5663D;
}
.personal_details_wrapper form {
    width: 60%;
    padding: 0 15%;
    margin: 0 auto;
}
.personal_details_wrapper form input {
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 2px solid #efefef;
}
.personal_details_wrapper form button {
    padding: 10px 40px;
    background-color: #fff;
    box-shadow: none;
    border: 2px solid #323232;
    border-radius: 20px;
    color: #323232;
}
.personal_details_wrapper form button:hover {
    color: #fff;
    border: 2px solid #fff;
    background-color: #323232;
    cursor: pointer;
}