<div class="personal_details_wrapper">
  <h2>Personal Details</h2>
  <form [formGroup]="personalDetailsForm" (ngSubmit)="onSubmit()">
    <input type="text" name="name" placeholder="Name" />
    <input type="text" name="surname" placeholder="Surname" />
    <input type="email" name="email" placeholder="Email" />
    <input type="tel" name="phone" placeholder="Phone Number" />
    <input type="text" name="address" placeholder="Address" />
    <input type="text" name="postalCode" placeholder="Postal Code" />
    <button name="btn" class="btn">Change</button>
  </form>
</div>
