.manage_subscription_page_wrapper {
    display: flex;
}
.manage_subscription {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #6aa7c4;
    margin: -40px 0px 40px -35px;
}
.manage_subscription .block {
    width: 52%;
    margin: 0 auto;
}
.manage_subscription .block:first-child {
    margin-top: 100px;
}
.manage_subscription .block h3 {
    font-size: 17px;
    margin-bottom: 10px;
    font-weight: normal;
}
.manage_subscription .block a {
    text-decoration: none;
    color: #fff;
}
.manage_subscription .block p {
    line-height: 24px;
    font-size: 16px;
    margin: 0;
    color: #292929;
}