<div class="change_password_page_wrapper">
  <div class="change_password">
    <div class="circle"></div>
    <div class="change_password_content">
      <h2>Change Password</h2>
      <form [formGroup]="changePasswordForm" (onSubmit)="submit()">
        <input type="password" formControlName="currentPassword" name="currentPassword" placeholder="Current Password" />
        <input type="password" formControlName="newPassword" name="newPassword" placeholder="New Password" />
        <input type="password" formControlName="reEnterNewPassword" name="reEnterNewPassword" placeholder="Re Enter New Password" />
      </form>
    </div>
  </div>
</div>
