<div class="signin_page_wrapper">
    <div class="signin_page_first_box">
        <img src="../assets/a.png" />
    </div>
    <div class="signin_box">
        <div class="signin_box_content">
            <h2>Welcome to MunchPak!</h2>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="invalid-feedback" *ngIf="!success">{{error}}</div>
                <input class="border_bottom" type="email" formControlName="username" name="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="Email ID" required />
                <div *ngIf="submitted && (f.username.errors || f.username.invalid)" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                    <div *ngIf="f.username.errors.email">Email must be a valid email address</div>
                </div>
                <input class="border_bottom" formControlName="password" type="password" name="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password" required />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
                <div class="forgot_remember_links">
                    <div class="remember_me"><input type="checkbox" name="chk" checked /> <span>Remember Me</span></div>
                    <div class="forgot_password" routerLink="/forgot-password">Forgot Password</div>
                </div>
                <div class="sign_in_button">
                    <button type="submit">SIGN IN</button>
                </div>
                <div class="sign_up_wrapper">
                    <div class="dont_have_account_text">Don't have an account?</div>
                    <div class="sign_up_text"><a routerLink="/sign-up">Sign Up now</a></div>
                </div>
                <div class="or_login_with">
                    <div class="or">or</div>
                    <div class="loginwith">Log in with</div>
                </div>
            </form>
            <div class="facebook_google">
                <img src="../assets/fb.png" alt="No Image" (click) = "fbLogin()"/>
                <img src="../assets/google_plus.png" alt="No Image"  (click)="googleLogin()" />
            </div>
        </div>
    </div>
</div>

<modal #forgetPasswordMailModal modalClass="modal-sm">
    <modal-header>
        <h3>Forget Password</h3>
    </modal-header>
    <modal-content>
        <input class="border_bottom forgot_password_modal_btn" type="email" [(ngModel)]="forgetPasswordMail" placeholder="Email ID" />
    </modal-content>
    <modal-footer>
        <button class="btn btn-primary" (click)="sendForgetPasswordMail(forgetPasswordMail,forgetPasswordMailModal)">Send</button>
    </modal-footer>
</modal>