<!-- <p>
  custplan works!
</p> -->
<div class="row">
  <div class="col-md-12">
    <card cardTitle="Plan Details">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Week</th>
            <th>WeekType</th>
            <!-- <th>Status</th> -->
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let plan of plans, let i=index">
            <td>{{plan.weeks}}</td>
            <td>{{plan.isCustom ? 'Custom' : 'Default'}}</td>
            <!-- <td>{{plan}}</td> -->
            <td><button (click)="editPlan(plan.activePlanId, plan.weeks)" class="btn btn-warning"><i class="fa fa-pencil fa-fw"></i>Edit</button></td>
          </tr>
        </tbody>
      </table>
    </card>
  </div>
</div>