
<div class="create_account">
  <h2>Forgot Password</h2>
  <form [formGroup] = "forgotPasswordForm" (ngSubmit) = "onSubmit()">
      <div *ngIf="submitted && success" class="success color">
          {{ message }}}
      </div>
      <div *ngIf="submitted && error" class="error color">
          Something Went wrong
      </div>
      <input type="email" name="email" formControlName="email" placeholder="Email" />
      <div *ngIf="submitted && (f.email.errors || f.email.invalid)" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email ID is required</div>
          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
      </div>
      <div class="create_account_btn">
          <button>Recover Password</button>
      </div>
  </form>
</div>
