<div class="row">
  <!-- <a routerLink="/admin/pages/customer/cust/3423/plan/123">cust Plan</a>
  <a routerLink="/admin/pages/customer/cust/3423/plan/123/week/1">Week Plan</a> -->
  <div class="col-md-12">
    <card cardTitle="Customer Details">
      <!-- <Button class="btn btn-primary" (click)="navigateBack()">Back</Button> -->
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>No</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Address</th>
            <th>Area Of Delivery</th>
            <th>Plan</th>
            <th>Current Week</th>
            <th>Skipped Week</th>
            <!-- <th>Plan Detail</th> -->
          </tr>
        </thead>
        <tbody>
            <tr *ngIf="customer">
            <td>1</td>
            <td>{{customer.order.customerData.firstName + ' ' + customer.order.customerData.lastName}}</td>
            <td>{{customer.order.customerData.phoneNo}}</td>
            <td>{{customer.order.address}}</td>
            <td>{{customer.order.Area_of_delivery}}</td>
            <td>{{customer.plan.title}}</td>
            <td>{{customer.currentWeek}}</td>
            <!-- <td>{{(getActiveWeek(customer.startDate))?getActiveWeek(customer.startDate):'Not started'}}</td> -->
            <td><span *ngFor="let weeks of customer.skipedWeeks let weekNoIndex = index">{{weeks.wNo}}<span *ngIf="customer.skipedWeeks.length-1 != weekNoIndex">,</span></span></td>
          </tr>
        </tbody>
      </table>
    </card>
  </div>
</div>