<div class="row">
  <!-- <a routerLink="/admin/pages/customer/cust/3423/plan/123">cust Plan</a>
  <a routerLink="/admin/pages/customer/cust/3423/plan/123/week/1">Week Plan</a> -->
  <div class="col-md-12">
    <card cardTitle="Customer Details">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>No</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Area of Delivery</th>
            <th>Area</th>
            <th>Plan</th>
            <th>Current Week</th>
            <th>Skipped Week</th>
            <!-- <th>Plan Detail</th> -->
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let user of users, let i=index">
            <td>{{i+1}}</td>
            <td><a routerLink="/customerInfo">{{user.user.firstName}} {{user.user.lastName}}</a></td>
            <td>{{user.address}}</td>
            <td>{{user.Area_of_delivery}}</td>
            <td>
              <a (click)="viewUserWeek(user)" class="btn btn-info">
                <i class="fa fa-pencil fa-fw"></i>{{user.planInfo.weeks}}
              </a>
            </td>
          </tr> -->
          <!-- <tr *ngFor="let customer of customers, let i=index">
            <td>{{i+1}}</td>
            <td><a routerLink="/customerInfo">{{user.user.firstName}} {{user.user.lastName}}</a></td>
            <td>{{user.address}}</td>
            <td>{{user.Area_of_delivery}}</td>
            <td>
              <a (click)="viewUserWeek(user)" class="btn btn-info">
                <i class="fa fa-pencil fa-fw"></i>{{user.planInfo.weeks}}
              </a>
            </td>
          </tr> -->
          <tr *ngIf="customer">
            <td>1</td>
            <td>{{customer.order.customerData.firstName + ' ' + customer.order.customerData.lastName}}</td>
            <td>{{customer.order.customerData.phoneNo}}</td>
            <td>{{customer.order.Area_of_delivery}}</td>
            <td>{{customer.order.address}}</td>
            <td>{{customer.plan.title}}</td>
            <td>{{(getActiveWeek(customer.startDate))?getActiveWeek(customer.startDate):'Not started'}}</td>
            <td><div *ngFor="let weeks of customer.skippedWeeks">{{weeks.wNo}}</div></td>
          </tr>
        </tbody>
      </table>
    </card>
  </div>
</div>