<div class="snack_right_video">
  <h2><b>Delicious</b> Wholesome <b>Healthy</b> Snacks Delivered to you every <b>Week!</b></h2>
</div>
<div class="watch_video">
    <h3>Watch the Video</h3>
    <div class="snack_right_img"></div>
</div>
<h2>ONLY IN NAMMA BENGALURU!</h2>
<div class="content_box_wrapper">
  <div class="green_box">
    <div class="content_box_one">
        <div class="icons">
            <div class="left">
                <img src="assets/hurry.png" alt="No Image"/>
            </div>
            <div class="right">
                <img src="assets/desk.png" alt="No Image"/>
            </div>
        </div>
        <div class="content_box_text">
            <p>With a busy work schedule, it's hard to find time for all the things that make you happy and healthy.</p>
        </div>
    </div>
    <div class="content_box_two">
        <div class="content_box_text">
            <p>Good snacking habits can prevent overeating, lower blood sugar and improve mood and focus.</p>
        </div>
        <div class="icons">
            <div class="left">
                <img src="assets/diet.png" alt="No Image"/>
            </div>
            <div class="right">
                <img src="assets/liposuction.png" alt="No Image"/>
            </div>
        </div>
    </div>
  </div>
  <div class="content_box_three">
      <div class="icons">
        <div class="left">
            <img src="assets/people.png" alt="No Image"/>
        </div>
        <div class="right">
            <img src="assets/free-delivery.png" alt="No Image"/>
        </div>
      </div>
      <div class="content_box_text">
          <p>Evening snack time is the most overlooked whilst maintaining a healthy and balanced life.</p>
      </div>
  </div>
  <div class="reason-title">That's why MunckPak brings to you a bag of curated wholesome goodies each week!</div>
  <h2 class="text-upper">How it works</h2>
  </div>
  <div class="boxes">
      <div class="box">
          <div class="img svg-img">
              <img src="../../assets/student-on-computer.png" />
          </div>
          <h3 class="text-upper">Click Subscribe</h3>
          <p>Go ahead take that first step and subscribe. Try our one week trial pack today.</p>
      </div>
      <div class="box">
          <div class="img svg-img">
                <img src="../../assets/girl.png" />
          </div>
          <h3 class="text-upper">CUSTOMIZE</h3>
          <p>Tell us what flavours and snacks you like and dislike and we will customize your munchPak bag to your liking.</p>
      </div>
      <div class="box">
          <div class="img svg-img">
                <img src="../../assets/delivery-truck.png" />
          </div>
          <h3 class="text-upper">WE DELIVER</h3>
          <p>We deliver a different set of snacks each week! It's easy to get bored with a healthy snacking regime. Our collaboration with various companies and home cooks allows us to provide just the right amount of variation.

          </p>
      </div>
      <div class="box">
          <div class="img svg-img">
                <img src="../../assets/smiling-girl.png" />
          </div>
          <h3 class="text-upper">EXPERIENCE THE BENEFITS</h3>
          <p>Whether you're at work or at home everyone gets hungry between 4pm and 7pm. Choose something healthy and wholesome instead and enjoy the health benefits!</p>
      </div>
  </div>
  <div class="subscribe_btn2">
      <a href="/subscribe" role="button">Get the Bag!</a>
  </div>
  <div class="whats_inside">
      <h2 class="text-upper">What's Inside?</h2>
      <img src="assets/give.png" alt="No Image"/>
      <p style="text-align:center">Inside every munchPak bag is a mix of healthy and hearty snacks. We've collaborated with some of the best snacking companies and home chefs to give you the best experience. Depending on your customization we'll deliver a different set of snacks each week at your doorstep. <a href="/subscribe"><span>Try our one week trial pack today!</span></a></p>
  </div>
<div class="you_will_get">
    <h3>YOU WILL GET-</h3>
    <div class="list">
        <div class="list_item">
            <div class="list_number">1.</div>
            <div class="list_text">4 tasty healthy snacks optimized to your liking</div>
        </div>
        <div class="list_item">
            <div class="list_number">2.</div>
            <div class="list_text">1 drink either cold-pressed juice or a smoothie</div>
        </div>
        <div class="list_item">
            <div class="list_number">3.</div>
            <div class="list_text">3 bags of green tea with honey sachets </div>
        </div>
        <div class="list_item">
            <div class="list_number">4.</div>
            <div class="list_text">1 delicious whole fruit</div>
        </div>
    </div>
</div>
<h2 class="munchers_have_spoken_text">THE MUNCHERS HAVE SPOKEN</h2>
<div class="munchers_have_spoken_box_wrapper">
    <div class="munchers_have_spoken_box">
        <p> What I liked the most was the variety. Some interesting items were seeds/nuts, veggie juice with no added sugar, and amaranth biscuits which tastes as great. The quantity was enough to last me a week (of course not if you are binge eating snacks while watching Netflix on a weekend!!). So, it's a blessing in disguise that it gets delivered on a Monday! Love the fact that the snacks were healthy and I could enjoy them guilt free. Also, someone curates a different variety of snacks each week, so I look forward to the surprise every Monday. :D
              <br>  - Gayatri Murralidharan   </p>
        <span></span>
    </div>
    <div class="munchers_have_spoken_box">
        <p> I found about MunchPak from a friend when I was actively looking out for healthy food options for my evening snack time. MunchPak offers numerous healthy food options like – cold-pressed juice, fruits, chikkis, health bars, fox nuts and other delicious snacks customized as per my palate and food choices. Interestingly they deliver every Monday at my workplace so I'm set for the whole week I no longer have to stress about eating healthy when away from home.
              <br>  -Aditi M.   </p>
        <span></span>
    </div>
    <div class="munchers_have_spoken_box">
        <p>Munchpak in my absolute favourite way of getting my week started. With a customized and well-curated set of healthy snacks, I am never left trying to find a non-healthy option. Kudos to the team for this lovely venture.
             <br>   - Govind K.     </p>
        <span></span>
    </div>
</div>
<div class="page_down_content">
    <h2>Subscribe to get the latest news about products and healthy snacking recipes</h2>
    <input type="email" [(ngModel)]="subscribeEmail" name="email" placeholder="E-mail Address" />
    <div class="message_wrapper_parent">
        <div *ngIf="successMessage != ''" class="success_wrapper">
            <span class="success">{{successMessage}}</span>
        </div>
        <div *ngIf="errorMessage != ''" class="error_wrapper">
            <span class="error">{{errorMessage}}</span>
        </div>
    </div>
    <div class="submitBtn"><button (click)="mailchimp(subscribeEmail)" class="btn submit">Subscribe</button></div>
</div>