<div class="snack_right_video">
  <h2><b>Delicious</b> Wholesome <b>Healthy</b> Snacks Delivered to you every <b>Week!</b></h2>
</div>
<div class="watch_video">
    <h3>Watch the Video</h3>
    <div class="snack_right_img"></div>
</div>
<h2>ONLY IN NAMMA BENGALURU!</h2>
<div class="content_box_wrapper">
  <div class="content_box one">
      <div class="content-box-icon-left">
          <img style="width: 100px;" src="assets/hurry.png" alt="No Image"/>
      </div>
      <div>
          <img style="width: 100px;" src="assets/desk.png" alt="No Image"/>
      </div>
      <div class="text space-left">
          <p>With a busy work schedule, it's hard to find time for all the things that make you fit and happy. Without a balanced life, it's easy to put your health on the sidelines and just keep going.</p>
      </div>
  </div>
  <div class="content_box two">
      <div class="text space-right">
          <p>It's no news that good snacking habits can prevent overeating, keep blood sugar balanced, help you lose weight and improve mood and focus. </p>
      </div>
      <div class="content-box-icon">
        <img style="width: 100px;" src="assets/diet.png" alt="No Image"/>
      </div>
      <div class="content-box-icon">
           <img style="width: 100px;" src="assets/liposuction.png" alt="No Image"/>
      </div>
  </div>
  <div class="content_box ">
      <div>
          <img src="assets/people.png" alt="No Image"/>
      </div>
      <div>
          <img src="assets/free-delivery.png" alt="No Image"/>
      </div>
      <div class="text">
          <p style="text-align:left">We observed that evening snack time was the most overlooked in terms of keeping things healthy. That's why MunchPak brings to you a bag full of snacks you need for the whole week.</p>
      </div>
  </div>
  <h2 class="text-upper">How it works</h2>
  </div>
  <div class="boxes">
      <div class="box">
          <div class="img svg-img">
              <img src="../../assets/student-on-computer.png" />
          </div>
          <h3 class="text-upper">Click Subscribe</h3>
          <p>Go ahead take that first step and subscribe. Try our one week trial pack today.</p>
      </div>
      <div class="box">
          <div class="img svg-img">
                <img src="../../assets/girl.png" />
          </div>
          <h3 class="text-upper">CUSTOMIZE</h3>
          <p>Tell us what flavours and snacks you like and dislike and we will customize your munchPak bag to your liking.</p>
      </div>
      <div class="box">
          <div class="img svg-img">
                <img src="../../assets/delivery-truck.png" />
          </div>
          <h3 class="text-upper">WE DELIVER</h3>
          <p>We deliver a different set of snacks each week! It's easy to get bored with a healthy snacking regime. Our collaboration with various companies and home cooks allows us to provide just the right amount of variation.

          </p>
      </div>
      <div class="box">
          <div class="img svg-img">
                <img src="../../assets/smiling-girl.png" />
          </div>
          <h3 class="text-upper">EXPERIENCE THE BENEFITS</h3>
          <p>Whether you're at work or at home everyone gets hungry between 4pm and 7pm. Choose something healthy and wholesome instead and enjoy the health benefits!</p>
      </div>
  </div>
  <div class="subscribe_btn2">
      <a href="/subscribe" role="button">Get the Bag!</a>
  </div>
  <div class="whats_inside">
      <h2 class="text-upper">What's Inside?</h2>
      <img src="assets/give.png" alt="No Image"/>
      <p style="text-align:center">Inside every munchPak bag is a mix of healthy and hearty snacks. We've collaborated with some of the best snacking companies and home chefs to give you the best experience. Depending on your customization we'll deliver a different set of snacks each week at your doorstep. <a href="/subscribe"><span>Try our one week trial pack today!</span></a></p>
  </div>
<div class="you_will_get">
    <h3>YOU WILL GET-</h3>
    <div class="list">
        <div class="list_item">
            <div class="list_number">1.</div>
            <div class="list_text">4 tasty healthy snacks optimized to your liking</div>
        </div>
        <div class="list_item">
            <div class="list_number">2.</div>
            <div class="list_text">1 drink either cold-pressed juice or a smoothie</div>
        </div>
        <div class="list_item">
            <div class="list_number">3.</div>
            <div class="list_text">3 bags of green tea with honey sachets </div>
        </div>
        <div class="list_item">
            <div class="list_number">4.</div>
            <div class="list_text">1 delicious whole fruit</div>
        </div>
    </div>
</div>
<h2 class="munchers_have_spoken_text">THE MUNCHERS HAVE SPOKEN</h2>
<div class="munchers_have_spoken_box_wrapper">
    <div class="munchers_have_spoken_box">
        <p>Text here of this size</p>
        <span></span>
    </div>
    <div class="munchers_have_spoken_box">
        <p>Text here of this size</p>
        <span></span>
    </div>
    <div class="munchers_have_spoken_box">
        <p>Text here of this size</p>
        <span></span>
    </div>
</div>
<div class="page_down_content">
    <h2>Subscribe to get the latest news about products and healthy snacking recipes</h2>
    <div *ngIf="successMessage != ''" class="">{{successMessage}}</div>
    <input type="email" [(ngModel)]="subscribeEmail" name="email" placeholder="E-mail Address" />
    <div class="submitBtn"><button (click)="mailchimp(subscribeEmail)" class="btn submit">Subscribe</button></div>
</div>