<div class="manage_subscription_page_wrapper">
    <div class="manage_subscription">
        <div class="block">
            <h3><a href="/my-orders">My Orders</a></h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <!-- <th>Name</th> -->
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Plan</th>
                        <th>ActiveWeek</th>
                        <th>SkipWeek <i class='fa fa-trash fa-fw' style="color:#fb8187;"></i>/<i class='fa fa-undo fa-fw' style="color:#31d799;"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders">
                        <td>{{order.activatedDate | date: 'dd/MM/yyyy'}}</td>
                        <!-- <td>{{order.user[0].firstName}} {{order.user[0].lastName}}</td> -->
                        <td>{{order.user[0].address}}</td>
                        <td>{{order.user[0].phone}}</td>
                        <td>{{order.plans.title}}</td>
                        <td>{{getActiveWeek(order.startDate,order.weeks)}}</td>
                        <td class="custom_td_skipweek">
                            <button *ngFor="let skipWeekItem of getWeekArray(order.weeks);let skipWeekIndex = index"
                                (click)="skipWeekAction(order,skipWeekIndex+1,alertModal)"
                                [class]="isSkip(order.skipedWeeks,skipWeekIndex+1) ? 'btn btn-success':'btn btn-danger'"> 
                                <!-- <i [class]="isSkip(order.skipedWeeks,skipWeekIndex+1) ? 'fa fa-undo fa-fw':'fa fa-trash fa-fw'"></i> -->
                                {{skipWeekIndex+1}}
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="block">
            <h3><a href="/skip-week">Skip the coming weeks bag</a></h3>
            <p>you can skip a week's bag just give us a 2 day head's up</p>
        </div>
    </div>
</div>

<modal #alertModal modalClass="modal-sm">
    <modal-header>
        <h3>Week Skip Action</h3>
    </modal-header>
    <modal-content>
        {{alertText}}
    </modal-content>
    <modal-footer>
        <button class="btn btn-primary" (click)="closeModal(alertModal)">close</button>
    </modal-footer>
</modal>

