<div class="manage_subscription_page_wrapper">
        <div class="block">
                <h3 class="myorder_custom"><a routerLink="/my-orders">My Orders</a></h3>
                <table class="table custom_order_table">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Plan</th>
                            <th>Total</th>
                            <th>Current Week</th>
                            <th>Date</th>
                            <th>SkipWeek</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of orders; let i = index;">
                            <td>{{i + 1}}</td>
                            <td>{{order.plans.weeks}} Week</td>
                            <td>{{order.total}}</td>
                            <td>{{(getActiveWeek(order.plans.startDate))?getActiveWeek(order.plans.startDate):'Not started'}}</td>
                            <td>{{order.plans.activatedDate | date: 'dd/MM/yyyy'}}</td>
                            <!-- <td><button (click)="skipNextWeek(order,alertModal)" class="btn btn-danger"><i class='fa fa-trash fa-fw'></i>Skip Next Week</button></td> -->
                            <td  style="cursor: pointer;">
                                <span 
                                [disabled]="order.state" 
                                (click)="skipNextWeek(order,alertModal,i)" 
                                class="btn btn-danger"><i class=''></i>
                                {{order.label}}
                            </span></td>
                        </tr>
                    </tbody>
                </table>
                <h3 class="skipweek_text"><a href="/skip-week">Skip the coming weeks bag</a></h3>
                <p>you can skip a week's bag just give us a 2 day head's up</p>
            </div>
    <div class="manage_subscription">
    </div>
</div>

<modal #alertModal modalClass="modal-sm">
    <modal-header>
        <h3>Week Skip Action</h3>
    </modal-header>
    <modal-content>
        {{alertText}}
    </modal-content>
    <modal-footer>
        <button class="btn btn-primary" (click)="closeModal(alertModal)">close</button>
    </modal-footer>
</modal>


<!-- <table class="table custom_order_table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Plan</th>
                <th>ActiveWeek</th>
                <th>SkipWeek</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders">
                <td>{{order.plans.activatedDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{order.userData.firstName}} {{order.userData.lastName}}</td>
                <td>{{order.address}}</td>
                <td>{{order.userData.phoneNo}}</td>
                <td>{{order.planInfo.title}}</td>
                <td>{{getActiveWeek(order.plans.startDate,order.plans.weeks)}}</td>
                <td class="custom_td_skipweek">
                    <button *ngFor="let skipWeekItem of getWeekArray(order.plans.weeks);let skipWeekIndex = index"
                        data-title=""
                        (click)="skipWeekAction(order,skipWeekIndex+1,alertModal)"
                        [class]="isSkip(order.plans.skipedWeeks,skipWeekIndex+1) ? 'btn btn-success':'btn btn-danger'"> 
                        {{skipWeekIndex+1}}
                    </button>
                </td>
            </tr>
        </tbody>
    </table> -->
