<div class="subscribe_page_wrapper">
  <div class="subscribe_page_content">
    <h2>Snacking made simple and convenient!</h2>
    <h3 class="color_none">Select a Plan</h3>
    <div class="select_plan">
      <div class="plans">
        <div class="plan" [ngClass]="{'active':selectedPlanId == item.planId}" *ngFor="let item of plan; let i = index" (click)="selectedPlan(item)">
          <h3>{{item.planName}}</h3>
          <h2 class="rate">{{item.planRate}}Rs<span *ngIf="i == 0">/Bag</span> </h2>
          <p>{{item.planText}}</p>
        </div>
      </div>
    </div>
    <div class="answer_questions">
      <h3 class="color_none">Answer a few simple questions so we know what snacks are best for you</h3>
      <div class="question_wrapper" *ngFor="let q of questions">
        <p>{{q.question}}</p>
        <ul>
          <li *ngFor="let opt of q.options"><input type="radio" value="{{opt.optionText}}" name="{{opt.optName}}" [(ngModel)]="q.selectedOpt" />{{opt.optionText}}</li>
        </ul>
        <div class="product_images + {{ q.class}}">
          <img *ngFor="let image of q.images" src="{{image.url}}" alt="{{image.alt}}" />
        </div>
      </div>
    </div>
    
   <!-- <div (click)="checkDelivery()">
        <button class="ok_button"  (click)="checkDelivery()">ok</button> -->
 <div class="ok_button" (click)="checkDelivery()">
      <a routerLink="/delivery" [queryParams]="{selectedPlan: selectedPlanId, selectedPlanRate: selectedPlanRate, selectedPlanName: selectedPlanName,question1: questions[0].selectedOpt, question2: questions[1].selectedOpt }">Ok</a> 
    </div>
  </div>
</div>