
<footer>
  <div class="content">
      <div class="social_media_icons">
          <a href="#"><span><img src="assets/facebook.png" /></span></a>
          <a href="#"><span><img src="assets/pintres.png" /></span></a>
          <a href="#"><span><img src="assets/instagram.png" /></span></a>
      </div>
      <div class="footer_line">
          <div class="copy_right"><span>&copy; 2018 Munchies</span></div>
          <div class="refund_and_cancel"><a routerLink="/refund-and-cancellation">Refund and Cancellation</a></div>
          <div class="terms_and_conditions">Terms & Conditions</div>
          <div class="privacy_policy">Privacy Policy</div>
          <div class="Cookie_policy">Cookie Policy</div>
      </div>
  </div>
</footer>