<div class="header_wrapper">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <header class="site_header">
        <nav>
            <div class="wrapper">
                <div class="logo">
                    <a routerLink="/home"><img src="../assets/Munchies Logo-01.png" alt="No Image" /></a>
                </div>
                <ul class="header_height">
                    <li class="bars" [ngClass]="{'bars_cross':isMobNavbarOpen}" id="open" (click)="isMobNavbarOpen=!isMobNavbarOpen">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </li>
                    <li><a routerLink="/collaborate" >Collaborate</a></li>
                    <li *ngIf="displayHeader && isLoggedIn"><a routerLink="/admin/pages/admin-analytics">Admin</a></li>                    
<!--*ngIf="displayHeader"-->
                    <li><a routerLink="/help">Help</a></li>
                    <li><a routerLink="/contact">Contact</a></li>
                    <li *ngIf="!isLoggedIn">
                        <a routerLink="/signIn">Sign In</a>
                        <!-- <a *ngIf="isLoggedIn" (click)="logout()">Logout</a> -->
                    </li>
                    <li *ngIf="isLoggedIn" (click)="showHideMenu()" class="userdropdown"><i class="fa fa-user"></i>
                        <ul *ngIf="subMenuShown" class="submenu">
                          <li *ngIf="isLoggedIn" ><a routerLink="/manage-subscription">My Order</a></li>                       
                          <li><a routerLink="/profile">Edit Profile</a></li>
                          <li><a routerLink="/change-password">Change Password</a></li>                          
                          <li><a (click)="logout()">Logout</a></li>                          
                        </ul>
                    </li>
                    <li><a routerLink="/subscribe" class="getthebag_btn">Get the Bag</a></li>
                    
                </ul>
                <div class="overlay"  [ngClass]="{'showOverlay':isMobNavbarOpen}" id="overlay"></div>
                <div class="responsive_menu"  [ngClass]="{'openSideMenu':isMobNavbarOpen}"  id="responsive_menu">
                    <div class="menu_list">
                        <div class="menu_item">
                            <a routerLink="/collaborate" (click)="isMobNavbarOpen=!isMobNavbarOpen">Collaborate</a>
                        </div>
                        <div class="menu_item">
                            <a routerLink="/help" (click)="isMobNavbarOpen=!isMobNavbarOpen">Help</a>
                        </div>
                        <div class="menu_item">
                            <a routerLink="/contact" (click)="isMobNavbarOpen=!isMobNavbarOpen">Contact</a>
                        </div>
                        <div class="menu_item" *ngIf="!isLoggedIn">
                            <a routerLink="/signIn" (click)="isMobNavbarOpen=!isMobNavbarOpen">Sign IN</a>
                        </div>
                        <div class="menu_item">
                            <a routerLink="/subscribe" (click)="isMobNavbarOpen=!isMobNavbarOpen"  class="getthebag_btn">Get the Bag</a>
                        </div>
                        <div class="menu_item"  *ngIf="isLoggedIn">
                            <a routerLink="/profile" (click)="isMobNavbarOpen=!isMobNavbarOpen">Edit Profile</a>
                        </div>
                        <div class="menu_item" *ngIf="isLoggedIn">
                            <a routerLink="/change-password" (click)="isMobNavbarOpen=!isMobNavbarOpen">Change Password</a>
                        </div>
                        <div class="menu_item" *ngIf="!isLoggedIn">
                            <a routerLink="/forgot-password" (click)="isMobNavbarOpen=!isMobNavbarOpen">Forgot Password</a>
                        </div>
                        <div class="menu_item menu_item a" *ngIf="isLoggedIn">
                            <a (click)="logout()" class="getthebag_btn">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</div>