
.header_wrapper {
    display: block;
    height: 80px;
    background: #fff;
    z-index: 999;
    position: fixed;
    top: 0;
}
header, .content, footer .content {
    font-family: 'MyWebFont' !important;
    
    background-color: #fff;
}
.site_header {
    position: fixed;
    top: 0;
    z-index: 100;
    left: 0;
    right: 0;
}

.site_header .wrapper {
    padding: 0px 50px;
    justify-content: center;
}
nav .wrapper .logo {
    height: 85px;
    float: left;
    padding-left: 10px;
}
nav .wrapper .logo img {
    width: 140px;
}
nav .wrapper ul {
    list-style: none;
    padding-right: 10px;
    margin: 0;   
    float: right;
    white-space: nowrap;
    margin-top: 10px;
}
nav .wrapper ul li.bars, nav .wrapper ul li.bars_cross {
    display: none;
    position: absolute;
    right: 35px;
    top: 10px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.6);
    padding: 15px 15px 10px;
    transition: right 0.5s ease 0s;
}
nav .wrapper ul li.bars .bar1, nav .wrapper ul li.bars .bar2, nav .wrapper ul li.bars .bar3, nav .wrapper ul li.bars_cross .bar1, nav .wrapper ul li.bars_cross .bar2, nav .wrapper ul li.bars_cross .bar3 {
    width: 25px;
    height: 2px;
    background: #FFF;
    margin-bottom: 8px;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}
nav .wrapper ul li {
    text-decoration: none;
    text-align: center;
    display: inline-block;
}
nav .wrapper ul li:last-child {
    margin-right: 0;
    margin-left: 5px;
}
.responsive_menu {
    position: absolute;
    right: 231px;
    transition: right 0.4s ease 0s;
    background-color: #fff;
    border: 1px solid rgb(240, 238, 235);
    top:77px;
    display: none !important;
}
.menu_item {
    margin-bottom: 10px;
    text-align: center;
    display: none;
}
.menu_item a {
    text-decoration: none;
    transition: color 0.5s ease 0s, background-color 0.5s ease 0s;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: block;
}
.menu_item a:hover {
    background-color: #292929;
    color: #fff;
}
.menu_item a.active {

    background-color: #292929;
    color: #fff;
}

nav .wrapper ul li a {
    text-decoration: none;
    color: #DE6B48;
    line-height: 80px;
    font-size: 16px;
    font-family: din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
}
/* nav .wrapper ul li:last-child a {
    border: 2px solid red;
    padding: 8px 25px;
    border-radius: 40px;
    font-weight: bold;
}
nav .wrapper ul li:last-child a:hover {
    color: #fff;
    background-color: rgba(50, 50, 50, 1);
    border: 2px solid rgba(50, 50, 50, 1);
} */
nav .wrapper ul li .getthebag_btn {
    border: 2px solid red;
    padding: 8px 25px;
    border-radius: 40px;
    font-weight: bold;
}
nav .wrapper ul li .getthebag_btn:hover {
    color: #fff;
    background-color: rgba(50, 50, 50, 1);
    border: 2px solid rgba(50, 50, 50, 1);
}
.subscribe_btn {
    margin-top: 20px;
    box-sizing: border-box;
    float: left;
    border: 2px solid red;
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
}
.subscribe_btn a {
    padding: 0 20px;
    text-decoration: none;
    color: red;
}


.snack_right_video {
    margin: 150px auto 150px auto;
    text-align: center;
}
.snack_right_video h2 {
    color: #292929;
    font-size: 2.5em;
    font-weight: 100;
    letter-spacing: 3.3px;
}
.snack_right_img {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 50px solid rgb(63, 124, 172);
    margin: 0 auto;
}
.content_box {
    background-color: #fff;
    padding: 40px 20px 80px 80px;
    margin-bottom: 20px;
    float: left;
}
.content_box div {
    float: left;
    width: 22%;
}
.content_box img {
    width: 150px;
    height: auto;
}
.content_box .text {
    margin-right: 20px;
    line-height: 22px;
    letter-spacing: 1px;
    font-size: 18px;
    float: left;
    width: 53%;
}
.content_box_wrapper .content_box:nth-child(2) {
    padding: 80px 0px 80px 15px;
    background-color: rgba(125, 187, 195, 1);
}
.content_box_wrapper > h2 {
    text-align: center;
    color: #E5663D;
    margin: 40px 0px;
    display: block;
    width: 100%;
    float: left;
}
.text-upper {
    text-transform: uppercase;
}
.boxes {
    display: block;
    float: left;
}
.boxes .box {
    background-color: rgba(125, 187, 195, 0.85);
    margin-right: 10px;
    padding: 10px;
    min-height: 400px;
    float: left;
    width: 24%;
    box-sizing: border-box;
}
.boxes .box:nth-child(4) {
    margin-right: 0px;
}
.boxes .box h3 {
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
}
.boxes .box p {
    font-size: 18px;
    font-weight: normal;
    color: rgb(63, 61, 61);
}
.subscribe_btn2 {
    margin: 80px 0px;
    text-align: center;
    float: left;
    width: 100%;
}
.subscribe_btn2 a {
    border: 4px solid;
    border-color: rgba(63, 124, 172, 1);
    padding: 5px 30px;
    text-decoration: none;
    letter-spacing: 1px;
    color: #fff;
    background-color: rgba(63, 124, 172, 1);
    font-size: 23px;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}
.subscribe_btn2 a:hover {
    background-color: #fff;
    color: #292929;
    border-color: #fff;
}
.whats_inside {
    text-align: center;
}
.whats_inside h2 {
    color: #DE6B48;
    margin-bottom: 40px;
}
.whats_inside p {
    width: 80%;
    margin: 50px auto;
    letter-spacing: 1px;
    line-height: 22px;
}
.whats_inside span {
    color: #DE6B48;
    text-decoration: underline;
}
.food_box {
    display: block;
    background: #fff;
    padding: 10px 10px 5px 10px;
    margin-bottom: 40px;
}
.food_box:nth-child(even) { 
    background-color: rgba(222, 107, 72, 1);
    color: #fff;
}
.text_area {
    width: 43%;
    line-height: 22px;
    letter-spacing: 1px;
    display: inline-block;
    margin-right: 24px;
    box-sizing: border-box;
    vertical-align: top;
}
.food_box:nth-child(even) .text_area{
    margin-right: 0px;
}
.text_area h3 {
    margin-top: 5px;
} 
.text_area p:last-child {
    margin-bottom: 0px;
}
.food_box .img {
    display: inline-block;
    width: 53%;
    box-sizing: border-box;
}
.food_box .img img {
    width: 100%;
    height: auto;
}
.food_box:nth-child(even) .img {
    margin-right: 20px;
    background-color: rgba(222, 107, 72, 1);
}
.food_box:nth-child(4) .img {
    width: 42%;
}
.food_box:nth-child(4) .text_area {
    width: 52%;
}
.remove_margin_bottom {
    margin-bottom: 0px;
}
.remove_margin_top {
    margin-top: 0px;
}
nav .wrapper ul li.bars.open {
    display: none;
}
nav .wrapper ul li.bars_cross {
    display: block;
    z-index: 99999;
}
nav .wrapper ul li.bars_cross .bar1 {
    transform: rotate(45deg) translate(8px, 7px);
}
nav .wrapper ul li.bars_cross .bar2 {
    opacity: 0;
}
nav .wrapper ul li.bars_cross .bar3 {
    transform: rotate(-45deg) translate(7px, -6px);
}
.responsive_menu.openSideMenu {
    right: 0px;
    display: block !important;
}
.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    display: none;
}

.overlay.showOverlay {
    display: block;
}
@media screen and (max-width: 768px) {
    header, .content {
        left: 0;
        width: 100%;
        box-sizing: border-box;
    }
    nav .wrapper ul li {
        display: none;
    }
    nav .wrapper ul li.bars {
        display: block;

    }
    nav .wrapper ul li.bars_cross.close {
        display: block;
    }
    .responsive_menu {
        display: block;
        width: 100%;
    }
    
   
}

@media screen and (max-width: 768px) {
    .menu_item{
        display: block;
        width: 100%;
    }
}
@media screen and (min-width: 768px) {
    nav .wrapper ul li {
        margin-right: 20px;
        display: inline-block;
    }
    nav .wrapper ul li.bars {
        display: none;
    }
    nav .wrapper ul li.bars_cross.close {
        display: none;
    }
    .responsive_menu {
        display: none;
    }
    .overlay.showOverlay {
        display: none;
    }
}
@media screen and (min-width: 992px) {
    nav .wrapper ul li.bars {
        display: none;
    }
    .responsive_menu {
        display: none;
    }

    nav .wrapper ul li {
        margin: 0px 14px;
        display: inline-block;
    }
}
@media screen and (min-width: 1024px) {

}
@media screen and (min-width: 1280px) {
    header {
        left: 189px;
    }
}


.userdropdown {
    border: solid 3px #de6b48;
    border-radius: 50%;
    padding: 10px;
    width: 20px;
    cursor: pointer;
}
.userdropdown i {
    text-decoration: none;
    color: #DE6B48;
    font-size: 16px;
    margin-left: -1px;
}
.userdropdown .submenu a {
    line-height: 0px !important;
}

  .userdropdown ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .userdropdown ul li a {
    text-decoration: none;
    color: #e74c3c;
    font-family: Tahoma, Arial;
  }
  .userdropdown li {
    float: left;
    padding: 0 20px;
    margin: 0px !important;
  }
  .userdropdown li > a {
    line-height: 50px;
    color: #FFF;
  }
  .userdropdown li > a {
    line-height: 50px;
    color: #FFF;
  }
  .userdropdown {
    position: relative
  }
  .userdropdown .submenu {
    /*width: 170px;*/
    position: absolute;
    -webkit-box-shadow: 0px 1px 1px #CCC;
    box-shadow: 0px 1px 1px #CCC;
    display: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    margin-top: 18px !important;
    background: #ffffff;
    border-radius: 4px;
    border: solid 1px #de6b48;
    margin-left: -1px !important;
  }
  .userdropdown:hover .submenu {
    display: block
  }
  .userdropdown .submenu:before {
    content: "";
    position: absolute;
    display: block;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #de6b48 transparent;
    top: -6px;
    left: 5px
  }
  .userdropdown .submenu li {
    padding: 5px 10px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  .userdropdown .submenu li:hover {
    /* background-color: #e74c3c; */
  }
  .userdropdown .submenu li:hover a {
    /* color: #FFF; */
    padding: 0 10px;
  }
