<div class="header_wrapper">
    <header class="site_header">
        <nav>
            <div class="wrapper">
                <div class="logo">
                    <a routerLink="/home"><img src="../assets/Munchies Logo-01.png" alt="No Image" /></a>
                </div>
                <ul>
                    <li class="bars" [ngClass]="{'bars_cross':isMobNavbarOpen}" id="open" (click)="isMobNavbarOpen=!isMobNavbarOpen">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </li>
                    <li><a routerLink="/collaborate" >Collaborate</a></li>
                    <li *ngIf="displayHeader"><a routerLink="/admin/pages/admin-analytics">Admin</a></li>
                    <li *ngIf="isLoggedIn" ><a routerLink="/manage-subscription">My Order</a></li>

                    <li><a routerLink="/help">Help</a></li>
                    <li><a routerLink="/contact">Contact</a></li>
                    <li>
                        <a *ngIf="!isLoggedIn" routerLink="/signIn">Sign In</a>
                        <a *ngIf="isLoggedIn" (click)="logout()">Logout</a>
                    </li>
                    <li><a routerLink="/subscribe">Get the Bag</a></li>
                </ul>
                <div class="overlay"  [ngClass]="{'showOverlay':isMobNavbarOpen}" id="overlay"></div>
                <div class="responsive_menu"  [ngClass]="{'openSideMenu':isMobNavbarOpen}"  id="responsive_menu">
                    <div class="menu_list">
                        <div class="menu_item">
                            <a routerLink="/collaborate" (click)="isMobNavbarOpen=!isMobNavbarOpen">Collaborate</a>
                        </div>
                        <div class="menu_item">
                            <a routerLink="/help" (click)="isMobNavbarOpen=!isMobNavbarOpen">Help</a>
                        </div>
                        <div class="menu_item">
                            <a routerLink="/contact" (click)="isMobNavbarOpen=!isMobNavbarOpen">Contact</a>
                        </div>
                        <div class="menu_item">
                            <a routerLink="/signIn" (click)="isMobNavbarOpen=!isMobNavbarOpen">Sign IN</a>
                        </div>
                        <div class="menu_item">
                            <a routerLink="/subscribe" (click)="isMobNavbarOpen=!isMobNavbarOpen">Get the Bag</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</div>