.subscribe_page_wrapper {
    width: 100%;
    height: 100%;
    display: block;
    padding: 80px 0px;
}
.subscribe_page_wrapper h2 {
    text-align: center;
    margin: 50px 0px;
    color: #E5663D;
    font-size: 30px;
}
.subscribe_page_wrapper h3 {
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    color: #fff;
    
}
.select_plan .plans {
    display: flex;
    flex-direction: row;
}
.select_plan .plan {
    box-sizing: border-box;
    flex: 1 0 21%;
    padding: 10px 22px;
    background-color: rgb(125, 187, 195);
    min-height: 270px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #2F2E2E;
}
.select_plan .plan a {
    text-decoration: none;
}
.select_plan .plan h2 {
    font-size: 26px;
    color: #2F2E2E;
    margin: 0px;
    font-weight: normal;
}
.select_plan .plan p {
    color: #2F2E2E;
}
.select_plan .plan:nth-child(2) {
    margin: 0 8%;
}
.subscribe_page_wrapper .answer_questions h3 {
    margin: 50px 0px;
}
.subscribe_page_wrapper .color_none {
    color: #2F2E2E;
}
.answer_questions {
    width: 100%;
    display: block;
    overflow: hidden;
}
.question_wrapper {
    width: 100%;
    float: left;
    margin-bottom: 50px;
}
.question_wrapper p {
    margin-left: 30px;
    margin-bottom: 8px;
    color: #E5663D;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}
.question_wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 40%;
    float: left;
}
.question_wrapper ul li {
    color: #525252;
    line-height: 30px;
    font-size: 16px;
    text-transform: uppercase;
}
.question_wrapper ul li input {
    margin-right: 10px;
}
.question_wrapper .product_images {
    position: absolute;
    left: 45%;
}
.question_wrapper .product_images img {
    height: 120px;
    width: 140px;
}
.question_wrapper .product_images.first_box img:first-child {
    position: absolute;
    top: -30px;
}
.question_wrapper .product_images.first_box img:last-child {
    position: absolute;
    top: 200px;
    left: 200px;
    height: 120px;
}
.question_wrapper .product_images.second_box img:first-child {
    position: absolute;
    top: 140px;
}

.question_wrapper .product_images.second_box img:last-child {
    position: absolute;
    top: 140px;
    left: 300px;
}
.question_wrapper .product_images.third_box img:first-child {
    position: absolute;
    top: 70px;
    left: 150px;
}
.ok_button {
    display: block;
    margin-top: 50px;
}
.ok_button a {
    text-decoration: none;
    color: rgba(50, 50, 50, 1);
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 25px;
    border: 2px solid rgba(50, 50, 50, 1);
    padding: 10px 50px;
    font-weight: bold;
}
.ok_button a:hover {
    color: #fff;
    background-color: rgba(50, 50, 50, 1);
    border: 2px solid rgba(50, 50, 50, 1);
}

@media screen and (min-width: 768px) {
    .question_wrapper .product_images.first_box img:first-child {
        left: 95px;
    }
    .question_wrapper .product_images.second_box img:last-child {
        left: 240px;
    }
}