
<div class="create_account">
    <h2>Create an account</h2>
    <form [formGroup] = "createAccountForm" (ngSubmit) = "onSubmit()">
        <div *ngIf="submitted && success" class="success color">
            You have registered successfully!
        </div>
        <div *ngIf="submitted && error" class="error color">
            {{error}}
        </div>
        <input type="text" name="firstName" formControlName="firstName" placeholder="First Name" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
        <input type="text" name="lastName" formControlName="lastName" placeholder="Last Name" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
        <input type="email" name="email" formControlName="email" placeholder="Email" />
        <div *ngIf="submitted && (f.email.errors || f.email.invalid)" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Username is required</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>
        <input type="password" name="password" formControlName="password" placeholder="Create Password" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
        <input type="password" name="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password" />
        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
        </div>
        <div *ngIf="submitted && passwordNotMatch" class="invalid-feedback">
            <div *ngIf="passwordNotMatch">Confirm Password not matched with password</div>
        </div>
        <div class="create_account_btn">
            <button>Create Account</button>
        </div>
    </form>
</div>
