<div class="vendors_home_chefs">
    <div class="box">
        <h2 class="heading_color">New Vendors</h2>
        <p>We are continuously looking for new and healthy products that can go in our snack bag. These products may include dry snacks, juices, teas and anything else with a minimum of 8-week shelf life.</p>
        <p>Our website will list your company as a collaborator and you get the opportunity to get your product into the hands of more customers.</p>
        <p>If you're a company that's interested in featuring your product in our bag, write to us! Please write a note about your company and product along with pricing details and we'll get back to you as soon as we can.</p>
        <div class="btn"><a href="#" role="button">Send us a Note</a></div>
    </div>
</div>