.tc_wrapper {
    width: 100%;
    margin: 0 auto;
    letter-spacing: 1px;
}
.tc_wrapper > h2 {
    text-align: center;
}
@media screen and (max-width: 768px) {
    .tc_wrapper{
        padding: 40px 20px;
        box-sizing: border-box;
    }
}