.change_password_page_wrapper {
    width: 100%;
    display: block;

}
.change_password {
    display: flex;
    flex-wrap: wrap;
}
.change_password .circle {
	width: 400px;
    height: 400px;
    background-color: rgb(125, 187, 195);
    border-radius: 50%;
    position: absolute;
    left: 80px;
    top: 40px;
}
.change_password_content {
	width: 60%;
    margin: 0 auto;
    position: relative;
    z-index: 99;
    padding: 30px 0px;
}
.change_password_content h2 {
	margin-left: 90px;
    margin-bottom: 30px;
    color: #E5663D;
    font-size: 23px;
}
.change_password_content form input {
    width: 45%;
    margin-bottom: 20px;
    padding: 10px 20px;
    display: block;
    border: 2px solid #b7b4b4;
    background-color: transparent;
}