
<div class="create_account">
    <h2>Change Password</h2>
    <form [formGroup] = "changePasswordForm" (ngSubmit) = "onSubmit()">
        <div *ngIf="submitted && success" class="success color">
            {{ message }}
        </div>
        <div *ngIf="submitted && error" class="error color">
            {{error}}
        </div>
        <input type="password" name="currentPassword" formControlName="currentPassword" placeholder="Current Password" required/>
        <div *ngIf="submitted && f.currentPassword.errors" class="invalid-feedback">
            <div *ngIf="f.currentPassword.errors.required">Current Password is required</div>
        </div>
        <input type="password" name="newPassword" formControlName="newPassword" placeholder="New Password" required/>
        <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
            <div *ngIf="f.newPassword.errors.required">New Password is required</div>
        </div>
        <input type="password" name="confirmPassword" formControlName="confirmPassword" placeholder="Confirm New Password" required/>
        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
        </div>
        <div *ngIf="submitted && passwordNotMatch" class="invalid-feedback">
            <div *ngIf="passwordNotMatch">Confirm Password not matched with password</div>
        </div>
        <div class="create_account_btn">
            <button>Change Password</button>
        </div>
    </form>
</div>



<!-- currentPassword
newPassword
reEnterNewPassword -->