<div class="my_orders_page_wrapper">
  <h2>My Orders</h2>
  <div class="table">
      <div class="table_header">
          <div class="heading">Order Id</div>
          <div class="heading">Plan</div>
          <div class="heading">Total</div>
          <div class="heading">Date</div>
      </div>
      <div class="table_content">
          <div class="content_block">X00122</div>
          <div class="content_block">1 week</div>
          <div class="content_block">600</div>
          <div class="content_block">16.05.19</div>
      </div>
  </div>
  <div class="my_orders_page_circle"></div>
</div>