<!-- <p>
  custplanweek works!
</p> -->
<div class="row">
  <div class="col-md-12">
    <button class="btn btn-primary" style="margin:20px">Add Product</button>
    <card cardTitle="Week Plan Details">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Type</th>
            <th>Product</th>
            <th>Rate</th>
            <th>MRP</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let week of weeks, let i=index">
            <td>{{week}}</td>
            <td>{{week}}</td>
            <td>{{week}}</td>
            <td>{{week}}</td>
            <td><button (click)="editWeek(week._id)" class="btn btn-danger"><i class="fa fa-trash fa-fw"></i>Delete</button></td>
          </tr>
          <!-- <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button class="btn btn-danger"><i class="fa fa-trash fa-fw"></i>Delete</button></td>
          </tr> -->
        </tbody>
      </table>
    </card>
    <button class="btn btn-success" style="margin:20px">Save</button>
  </div>
</div>