<div class="container-fluid">
  <div class="question_block">
    <h3>Which plan is selected the most?</h3>
    <card cardTitle='Pie Chart'>
      <div echarts [options]="planSelectedOptions" [loading]="showloading" theme="light" class="demo-chart"></div>
    </card>
  </div>
  <div class="question_block">
    <h3>Which area has the most delivery?</h3>
    <card cardTitle='Most delivery'>
      <div *ngFor="let area of areaInfo" class="area">
        <div class="area_text">{{area.areaName}}</div>
        <div class="pbar_wrapper">
           <div title="{{((area.count) * 100 / totalAreaCount)}}%" [ngStyle]="{'width.%': ((area.count) * 100 / totalAreaCount)}" class="pbar"><span> {{((area.count) * 100 / totalAreaCount)}} %</span></div>
        </div>
      </div>
    </card>
  </div>
  <div class="question_block">
    <h3>Are you allergic to any of these?</h3>
    <card cardTitle='Pie Chart'>
      <div echarts [options]="allergyOptions" [loading]="showloading" theme="light" class="demo-chart"></div>
    </card>
  </div>
  <div class="question_block">
    <h3>Fruits liked the most?</h3>
    <card cardTitle='Pie Chart'>
      <div echarts [options]="fruitOptions" [loading]="showloading" theme="light" class="demo-chart"></div>
    </card>
  </div>
  <!-- <div class="question_block">
    <h3>Month Wise website traffic</h3>
    <card cardTitle='Line Chart'>
      <div echarts [options]="monthWiseTrafficOption" [loading]="showloading" theme="light" class="demo-chart"></div>
    </card>
  </div> -->
</div>
