<div class="container-fluid">
<div class="row">
  <div class="col-md-4 col-sm-4 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>Number of Subscribers</h3>
        <span>{{numberOfSubscribers}}</span>
      </div>
      <!-- <button class="tip-ico tip-ico-primary">
        <i class="fa fa-group fa-fw"></i>
      </button> -->
    </div>
  </div>
  <div class="col-md-4 col-sm-4 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>Order Value</h3>
        <span>{{orderValue}}</span>
      </div>
      <!-- <button class="tip-ico tip-ico-info">
        <i class="fa fa-comments fa-fw"></i>
      </button> -->
    </div>
  </div>
  <!-- <div class="col-md-3 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>Mails</h3>
        <span>2 mails</span>
      </div>
      <button class="tip-ico tip-ico-success">
        <i class="fa fa-envelope fa-fw"></i>
      </button>
    </div>
  </div>
  <div class="col-md-3 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>Feedback</h3>
        <span>20 feedbacks</span>
      </div>
      <button class="tip-ico tip-ico-danger">
        <i class="fa fa-warning fa-fw"></i>
      </button>
    </div>
  </div> -->
</div>
  <div class="question_block">
    <h3>Plan selected the most</h3>
    <card cardTitle='Pie Chart'>
      <div *ngIf="planSelectedOptions" echarts [options]="planSelectedOptions" [loading]="showloading" theme="light" class="demo-chart"></div>
    </card>
  </div>
  <div class="question_block">
    <h3>Areas with the most Delivery</h3>
    <card cardTitle='Most delivery'>
      <div *ngFor="let area of areaInfo" class="area">
        <div class="area_text">{{area.areaName}}</div>
        <div class="pbar_wrapper">
           <div title="{{area.percent}}%" [ngStyle]="{'width.%': area.percent}" class="pbar"><span> {{area.count + ' (' + area.percent}} %)</span></div>
        </div>
      </div>
    </card>
  </div>
  <div class="question_block">
    <h3>Allergens and People</h3>
    <card cardTitle='Pie Chart'>
      <div *ngIf="allergyOptions" echarts [options]="allergyOptions" [loading]="showloading" theme="light" class="demo-chart"></div>
    </card>
  </div>
  <div class="question_block">
    <h3>Fruits disliked the most?</h3>
    <card cardTitle='Pie Chart'>
      <div *ngIf="fruitOptions" echarts [options]="fruitOptions" [loading]="showloading" theme="light" class="demo-chart"></div>
    </card>
  </div>
  <div class="question_block">
    <h3>Green tea in bag</h3>
    <card cardTitle='Pie Chart'>
      <div *ngIf="GreenTeaSelectedOptions" echarts [options]="GreenTeaSelectedOptions" [loading]="showloading" theme="light" class="demo-chart"></div>
    </card>
  </div>
 
  <!-- <div class="question_block">
    <h3>Month Wise website traffic</h3>
    <card cardTitle='Line Chart'>
      <div echarts [options]="monthWiseTrafficOption" [loading]="showloading" theme="light" class="demo-chart"></div>
    </card>
  </div> -->
</div>
