<div class="company_wrapper">
  <div class="container-fluid content">
    <h2>Product</h2>

    <div>
      <div class="row">
        <button (click)="addModal.open()" class="btn btn-primary add_product_btn" style="margin:20px">Add Product</button>
        <span class="success" *ngIf="message!=''">{{message}}</span>
        <!-- <button class="btn btn-primary weeksDrp">Weeks</button> -->
        <div class="input-group search_by_week">
          <div class="input-group-btn " [ngClass]="{'open':selectedWeek}">
            <button type="button" data-toggle="dropdown" class="btn btn-success dropdown-toggle week-dropdown-btn" aria-expanded="true"
              aria-haspopup="true" (click)="selectedWeek= selectedWeek ? null : 1">
              {{searchWeek > 0 ? 'Week ' + searchWeek: 'Select Week'}}
              <span class="caret"></span>
            </button>
            <ul *ngIf="selectedWeek" class="dropdown-menu">
              <li value="All" (click)="searchWeek=''; selectedWeek=null">All</li>
              <li *ngFor="let week of weekArray" value="{{week.id}}" (click)="searchWeek=week.id; selectedWeek=null">{{week.text}}</li>
            </ul>
          </div>
        </div>
        <input class="form-control search-input" placeholder="Search" type="text" name="search" [(ngModel)]="searchFilter"> 
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>No</th>
            <th (click)="sort('name')">Product Name
              <span class="glyphicon sort-icon" *ngIf="key =='name'" 
                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
              </span>
            </th>
            <th (click)="sort('type')">Type
              <span class="glyphicon sort-icon" *ngIf="key =='type'" 
                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
              </span>
            </th>
            <th (click)="sort('company')">Company
              <span class="glyphicon sort-icon" *ngIf="key =='company'" 
                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
              </span>
            </th>
            <th (click)="sort('quantity')">Quantity
              <span class="glyphicon sort-icon" *ngIf="key =='quantity'" 
                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
              </span>
            </th>
            <th (click)="sort('Cost')">Cost
              <span class="glyphicon sort-icon" *ngIf="key =='Cost'" 
                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
              </span>
            </th>
            <th (click)="sort('price')">MRP
              <span class="glyphicon sort-icon" *ngIf="key =='price'" 
                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
              </span>
            </th>
            <th (click)="sort('allergyDetails')">Allergy
              <span class="glyphicon sort-icon" *ngIf="key =='allergyDetails'" 
                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
              </span>
            </th>
            <th (click)="sort('kcal')">KCAL
              <span class="glyphicon sort-icon" *ngIf="key =='kcal'" 
                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
              </span>
            </th>
            <th>Edit/Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products | orderBy: key : reverse | filter:searchFilter | customSearch: searchWeek, let i=index">
            <td>{{i+1}}</td>
            <td>{{product.name}}</td>
            <td>{{product.type}}</td>
            <td>{{product.company}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.cost}}</td>
            <td>{{product.price}}</td>
            <td>{{product.allergyDetails}}</td>
            <td>{{product.kcal}}</td>
            <td class="selectedWeeks">
              <button (click)="editModal.open();selectedProductObj=product" class="btn btn-success mr-20">Edit</button>
              <button (click)="confirmDeleteProductModal.open(); productObj=product; index=i;" class="btn btn-danger">Delete</button>
              <div *ngIf="product.weeks.length > 0" class="card-content">
                <span *ngFor="let weekItem of product.weeks;let weekIndex = index;">
                  <span class="selectedWeeks">
                    <button class="btn btn-warning">{{'Week ' + weekItem}}
                      <i (click)="confirmDeleteModal.open(); productObj=product; weekNo=weekItem;" class="fa fa-close"></i></button>
                  </span>
                </span>
              </div>
              <div>
                <div class="input-group">
                  <div class="input-group-btn " [ngClass]="{'open':product.selectedWeek}">
                    <button type="button" data-toggle="dropdown" class="btn btn-success dropdown-toggle week-dropdown-btn" aria-expanded="true"
                      aria-haspopup="true" (click)="product.selectedWeek= product.selectedWeek ? null : 1">
                      {{'Week'}}
                      <span class="caret"></span>
                    </button>
                    <ul *ngIf="product.selectedWeek" class="dropdown-menu">
                      <li *ngFor="let week of weekArray" value="{{week.id}}" (click)="addWeekInProduct(product.weeks,week.id, product._id);product.selectedWeek=null">{{week.text}}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr *ngIf="!(products.length > 0) && !products"><td colspan="10">No records found</td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<modal #addModal [closeOnEscape]="false" [closeOnOutsideClick]="true"  >
  <modal-header>
    <h3>Add Product</h3>
  </modal-header>
  <modal-content>
    <div (keydown.enter)="addProduct(addModal)" (click)="hideAutoComplete = false">
      <div class="form-group">
        <label class="control-label">Name</label>
        <input type="text" [(ngModel)]="addPname" class="form-control" placeholder="Enter Product Name" />
      </div>
      <div class="form-group">
        <label class="control-label">Type</label>
        <select [(ngModel)]="addPtype" placeholder="Select Type" class="form-control">
          <option [value]="default" selected="selected">Select Type</option>
          <option *ngFor="let productType of productTypes" value="{{productType}}">{{productType}}</option>
        </select>
      </div>
      <div class="form-group">
        <label class="control-label">Company</label>
        <input type="text" [(ngModel)]="addPcompany" (keydown)="hideAutoComplete=true" class="form-control" placeholder="Enter Product Company" />
        <ul class="auto_complete_items" [hidden]="!hideAutoComplete">
          <li 
          *ngFor="let company of companyName" 
          [ngClass]="{'hidden':(!ifMatchString(addPcompany | lowercase,company  | lowercase))}"
          (click)="populateCompanyName(company)"><span>{{company}}</span></li>
        </ul>
      </div>
      <div class="form-group">
        <label class="control-label">Quantity</label>
        <input type="text" [(ngModel)]="addPquantity" class="form-control" placeholder="Enter Product Quantity" />
      </div>
      <div class="form-group">
        <label class="control-label">Cost</label>
        <input type="text" [(ngModel)]="addPcost" class="form-control" placeholder="Enter Product Cost" />
      </div>
      <div class="form-group">
        <label class="control-label">MRP</label>
        <input type="text" [(ngModel)]="addPmrp" class="form-control" placeholder="Enter Product MRP" />
      </div>
      <div class="form-group">
        <label class="control-label">Allergy Details</label>
        <select [(ngModel)]="addPallergyDetails" placeholder="Select Company" class="form-control">
          <option [value]="default" selected="selected">Select Allergy Details</option>
          <option *ngFor="let allergy of allergyDetails" value="{{allergy}}">{{allergy}}</option>
        </select>
      </div>
      <div class="form-group">
        <label class="control-label">Kcal</label>
        <input type="text" [(ngModel)]="addPkcal" class="form-control" placeholder="Enter Product KCal" />
      </div>
      <button (click)="addProduct(addModal)" class="btn btn-primary">Add Product</button>
    </div>
  </modal-content>
</modal>

<modal #editModal [closeOnEscape]="false" [closeOnOutsideClick]="false">
  <modal-header>
    <h3>Edit Product</h3>
  </modal-header>
  <modal-content>
    <div (keydown.enter)="editProduct(editModal, selectedProductObj)">
      <div class="form-group">
        <label class="control-label">Name</label>
        <input type="text" class="form-control" [(ngModel)]="selectedProductObj.name" />
      </div>
      <div class="form-group">
        <label class="control-label">Type</label>
        <select [(ngModel)]="selectedProductObj.type" placeholder="Select Type" class="form-control">
          <option [value]="default" selected="selected">{{selectedProductObj.type}}</option>
          <option *ngFor="let productType of productTypes" value="{{productType}}">{{productType}}</option>
        </select>
      </div>
      <div class="form-group">
        <label class="control-label">Company</label>
        <input type="text" class="form-control" [(ngModel)]="selectedProductObj.company" />
      </div>
      <div class="form-group">
        <label class="control-label">Quantity</label>
        <input type="text" class="form-control" [(ngModel)]="selectedProductObj.quantity" />
      </div>
      <div class="form-group">
        <label class="control-label">Cost</label>
        <input type="text" class="form-control" [(ngModel)]="selectedProductObj.cost" />
      </div>
      <div class="form-group">
        <label class="control-label">MRP</label>
        <input type="text" class="form-control" [(ngModel)]="selectedProductObj.price" />
      </div>
      <div class="form-group">
        <label class="control-label">Allergy Details</label>
        <!-- <input type="text" class="form-control" [(ngModel)]="selectedProductObj.allergyDetails" /> -->
        <select [(ngModel)]="selectedProductObj.allergyDetails" class="form-control">
            <option [value]="default" selected="selected">Select Allergy Details</option>
            <option *ngFor="let allergy of allergyDetails" value="{{allergy}}">{{allergy}}</option>
          </select>
      </div>
      <div class="form-group">
        <label class="control-label">Kcal</label>
        <input type="text" class="form-control" [(ngModel)]="selectedProductObj.kcal" />
      </div>
      <button class="btn btn-primary" (click)="editProduct(editModal, selectedProductObj)">Edit Product</button>
    </div>
  </modal-content>
</modal>
<modal #confirmDeleteModal class="confirmDeleteModal" [closeOnEscape]="false" [closeOnOutsideClick]="true"  >
  <modal-header>
    <h3>Confirm Delete</h3>
  </modal-header>
  <modal-content>
    <h4>Are you sure you want to delete Week {{ weekNo}}?</h4>
  </modal-content>
  <modal-footer>
      <button class="btn btn-danger" (click)="removeWeekInProduct(productObj.weeks,productObj._id, weekNo, confirmDeleteModal);">Yes</button>
      <button class="btn btn-success" (click)="closeModal(confirmDeleteModal);">No</button>
  </modal-footer>
</modal>
<modal #confirmDeleteProductModal class="confirmDeleteModal" [closeOnEscape]="false" [closeOnOutsideClick]="true"  >
  <modal-header>
    <h3>Confirm Delete</h3>
  </modal-header>
  <modal-content>
    <h4>Are you sure you want to delete this product?</h4>
  </modal-content>
  <modal-footer>
      <button class="btn btn-danger" (click)="deleteItem(productObj._id, confirmDeleteProductModal, index);">Yes</button>
      <button class="btn btn-success" (click)="closeModal(confirmDeleteProductModal);">No</button>
  </modal-footer>
</modal>