<div class="company_wrapper">
  <!-- <div class="container-fluid">
    <ul class="nav nav-tabs">
      <li [ngClass]="{'active': view == 'company'}" (click)="changeView('company')"><a>Company</a></li>
      <li [ngClass]="{'active': view == 'types'}" (click)="changeView('types')"><a>Types</a></li>
      <li [ngClass]="{'active': view == 'product'}" (click)="changeView('product')"><a>Product</a></li>
    </ul>
  </div> -->
  <modal #addModal [closeOnEscape]="false" [closeOnOutsideClick]="false">
    <modal-header>
      <!-- <h3 *ngIf="view=='company'">Add Company</h3>
      <h3 *ngIf="view=='types'">Add Type</h3> -->
      <h3 *ngIf="view=='product'">Add Product</h3>
    </modal-header>
    <modal-content>
      <!-- <div *ngIf="view=='company'" (keydown.enter)="addCompany(addModal)">
        <div class="form-group">
          <label class="control-label">Company</label>
          <input type="text" [(ngModel)]="addCompanyName" class="form-control" placeholder="Enter Product Company" />
        </div>
        <button (click)="addCompany(addModal)" class="btn btn-primary">Add Company</button>
      </div>
      <div *ngIf="view=='types'" (keydown.enter)="addTypes(addModal)">
        <div class="form-group">
          <label class="control-label">Select Company</label>
          <select [(ngModel)]="addCompanyOnType" placeholder="Select Company" class="form-control">
            <option [value]="default" selected="selected">Select Company</option>
            <option *ngFor="let company of productCompanies" value="{{company._id}}">{{company.company}}</option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label">Type</label>
          <input type="text" [(ngModel)]="addType" class="form-control" placeholder="Enter Product Type" />
        </div>
        <button (click)="addTypes(addModal)" class="btn btn-primary">Add Product Type</button>
      </div> -->
      <div (keydown.enter)="addProduct(addModal)">
        <div class="form-group">
          <label class="control-label">Name</label>
          <input type="text" [(ngModel)]="addPname" class="form-control" placeholder="Enter Product Name" />
        </div>
        <div class="form-group">
          <label class="control-label">Type</label>
          <select [(ngModel)]="addPtype" placeholder="Select Type" class="form-control">
            <option [value]="default" selected="selected">Select Type</option>
            <option *ngFor="let productType of productTypes" value="{{productType}}">{{productType}}</option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label">Company</label>
          <input type="text" [(ngModel)]="addPcompany" (keyup)="onKeyPress(addPcompany)" class="form-control" placeholder="Enter Product Company" />
          <ul>
            <li *ngFor="let pCompany of productCompany"></li>
          </ul>
        </div>
        <div class="form-group">
          <label class="control-label">Quantity</label>
          <input type="text" [(ngModel)]="addPquantity" class="form-control" placeholder="Enter Product Quantity" />
        </div>
        <div class="form-group">
          <label class="control-label">Cost</label>
          <input type="text" [(ngModel)]="addPcost" class="form-control" placeholder="Enter Product Cost" />
        </div>
        <div class="form-group">
          <label class="control-label">MRP</label>
          <input type="text" [(ngModel)]="addPmrp" class="form-control" placeholder="Enter Product MRP" />
        </div>
        <div class="form-group">
          <label class="control-label">Allergy Details</label>
          <select [(ngModel)]="addPallergyDetails" placeholder="Select Company" class="form-control">
            <option [value]="default" selected="selected">Select Allergy Details</option>
            <option *ngFor="let allergy of allergyDetails" value="{{allergy}}">{{allergy}}</option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label">Kcal</label>
          <input type="text" [(ngModel)]="addPkcal" class="form-control" placeholder="Enter Product KCal" />
        </div>
        <button (click)="addProduct(addModal)" class="btn btn-primary">Add Product</button>
      </div>
    </modal-content>
  </modal>

  <modal #editModal [closeOnEscape]="false" [closeOnOutsideClick]="false">
    <modal-header>
      <!-- <h3 *ngIf="view=='company'">Edit Company</h3>
      <h3 *ngIf="view=='types'">Edit Type</h3> -->
      <h3>Edit Product</h3>
    </modal-header>
    <modal-content>
      <!-- <div *ngIf="view=='company'" (keydown.enter)="editCompany(editModal, selectedCompanyObj)">
        <div class="form-group">
          <label class="control-label">Company</label>
          <input type="text" class="form-control" [(ngModel)]="selectedCompanyObj.company" />
        </div>
        <button class="btn btn-primary" (click)="editCompany(editModal, selectedCompanyObj)">Edit Company</button>
      </div>
      <div *ngIf="view=='types'" (keydown.enter)="editType(editModal, selectedTypeObj)">
        <div class="form-group">
          <label class="control-label">Select Company</label>
          <select [(ngModel)]="selectCompanyId" name="selectedCompany" class="form-control">
            <option *ngFor="let companyItem of productCompanies" value="{{companyItem._id}}">{{companyItem.company}}</option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label">Type</label>
          <input type="text" name="productType" class="form-control" [(ngModel)]="selectedTypeObj.type" />
        </div>
        <button class="btn btn-primary" (click)="editType(editModal, selectedTypeObj)">Edit Product Type</button>
      </div> -->
      <div (keydown.enter)="editProduct(editModal, selectedProductObj)">
        <div class="form-group">
          <label class="control-label">Name</label>
          <input type="text" class="form-control" [(ngModel)]="selectedProductObj.name" />
        </div>
        <div class="form-group">
          <label class="control-label">Type</label>
          <!-- <input type="text" class="form-control" [(ngModel)]="selectedProductObj.type" /> -->
          <select [(ngModel)]="selectedProductObj.type" placeholder="Select Type" class="form-control">
            <option [value]="default" selected="selected">{{selectedProductObj.type}}</option>
            <option *ngFor="let productType of productTypes" value="{{productType}}">{{productType}}</option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label">Company</label>
          <input type="text" class="form-control" [(ngModel)]="selectedProductObj.company" />
        </div>
        <div class="form-group">
          <label class="control-label">Quantity</label>
          <input type="text" class="form-control" [(ngModel)]="selectedProductObj.quantity" />
        </div>
        <div class="form-group">
          <label class="control-label">Cost</label>
          <input type="text" class="form-control" [(ngModel)]="selectedProductObj.cost" />
        </div>
        <div class="form-group">
          <label class="control-label">MRP</label>
          <input type="text" class="form-control" [(ngModel)]="selectedProductObj.price" />
        </div>
        <div class="form-group">
          <label class="control-label">Allergy Details</label>
          <!-- <input type="text" class="form-control" [(ngModel)]="selectedProductObj.allergyDetails" /> -->
          <select [(ngModel)]="selectedProductObj.allergyDetails" class="form-control">
              <option [value]="default" selected="selected">Select Allergy Details</option>
              <option *ngFor="let allergy of allergyDetails" value="{{allergy}}">{{allergy}}</option>
            </select>
        </div>
        <div class="form-group">
          <label class="control-label">Kcal</label>
          <input type="text" class="form-control" [(ngModel)]="selectedProductObj.kcal" />
        </div>
        <button class="btn btn-primary" (click)="editProduct(editModal, selectedProductObj)">Edit Product</button>
      </div>
    </modal-content>
  </modal>
  <div class="container-fluid content">
    <!-- <div *ngIf="view == 'company'">
      <div class="row">
        <button class="btn btn-primary" (click)="addModal.open()" style="margin:20px">Add Company</button>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>No</th>
            <th>Company Name</th>
            <th>Edit/Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pCompany of productCompanies, let i=index">
            <td>{{i+1}}</td>
            <td>{{pCompany.company}}</td>
            <td>
              <button (click)="editModal.open();selectedCompanyObj=pCompany" class="btn btn-success mr-20">Edit</button>
              <button (click)="deleteItem(pCompany._id, 'company')" class="btn btn-danger">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div> -->

    <!-- <div *ngIf="view == 'types'">
      <div class="row">
        <button class="btn btn-primary" (click)="addModal.open()" style="margin:20px">Add Product Type</button>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>No</th>
            <th>Product Company</th>
            <th>Product Type</th>
            <th>Edit/Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pType of productTypes, let i=index">
            <td>{{i+1}}</td>
            <td>{{(pType.companies && pType.companies.length > 0) ? (pType.companies[0] && pType.companies[0].company ? pType.companies[0] && pType.companies[0].company : "") : ''}}</td>
            <td>{{pType.type}}</td>
            <td>
              <button (click)="editModal.open();selectedTypeObj=pType" class="btn btn-success mr-20">Edit</button>
              <button (click)="deleteItem(pType._id, 'type')" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div> -->
    <h2>Product</h2>

    <div>
      <div class="row">
        <button (click)="addModal.open()" class="btn btn-primary" style="margin:20px">Add Product</button>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>No</th>
            <th>Product Name</th>
            <th>Type</th>
            <th>Company</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>MRP</th>
            <th>Allergy</th>
            <th>KCAL</th>
            <th>Edit/Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products, let i=index">
            <td>{{i+1}}</td>
            <td>{{product.name}}</td>
            <td>{{product.type}}</td>
            <td>{{product.company}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.cost}}</td>
            <td>{{product.price}}</td>
            <td>{{product.allergyDetails}}</td>
            <td>{{product.kcal}}</td>
            <td class="selectedWeeks">
              <button (click)="editModal.open();selectedProductObj=product" class="btn btn-success mr-20">Edit</button>
              <button (click)="deleteItem(product._id, 'product')" class="btn btn-danger">Delete</button>
              <div *ngIf="product.weeks.length > 0" class="card-content">
                <span *ngFor="let weekItem of product.weeks;let weekIndex = index">
                  <span class="selectedWeeks">
                    <button class="btn btn-warning">{{'Week ' + weekItem}}
                      <i (click)="removeWeekInProduct(product.weeks,product._id, weekItem);" class="fa fa-close"></i></button>
                  </span>
                </span>
              </div>
              <div>
                <div class="input-group">
                  <div class="input-group-btn " [ngClass]="{'open':product.selectedWeek}">
                    <button type="button" data-toggle="dropdown" class="btn btn-success dropdown-toggle" aria-expanded="true"
                      aria-haspopup="true" (click)="product.selectedWeek=1">
                      {{'Week'}}
                      <span class="caret"></span>
                    </button>
                    <ul *ngIf="product.selectedWeek" class="dropdown-menu">
                      <li *ngFor="let week of weekArray" value="{{week.id}}" (click)="addWeekInProduct(product.weeks,week.id, product._id);product.selectedWeek=null">{{week.text}}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>