<div class="create_account">
    <h2>Profile</h2>
    <form [formGroup] = "userProfileForm" (ngSubmit) = "onSubmit()">
        <div *ngIf="submitted && success" class="success color">
            Updated Changes successfully!
        </div>
        <div *ngIf="submitted && error" class="error color">
            {{error}}
        </div>
        <input type="text" [(ngModel)]="firstName" name="firstName" formControlName="firstName" placeholder="First Name" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
        <input type="text" [(ngModel)]="lastName" name="lastName" formControlName="lastName" placeholder="Last Name" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
        <input class="form_control" type="number" [(ngModel)]="phone" formControlName="phone" name="phone" minlength="10" maxlength="10" placeholder="Phone Number" />
        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback form_control">
            <div *ngIf="submitted && f.phone.errors.required">Phone Number is required</div>
            <div *ngIf="submitted && f.phone.errors.maxlength">Maxlength</div>
            <div *ngIf="submitted && f.phone.errors.pattern">Please enter valid Phone Number</div>
        </div>
        <input type="email" [value]="email" name="email" formControlName="email" placeholder="Email" readonly />
        <!-- <div *ngIf="submitted && (f.email.errors || f.email.invalid)" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Username is required</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div> -->
        <input type="text" [(ngModel)]="address" name="address" formControlName="address" placeholder="Address" />
        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
            <div *ngIf="f.address.errors.required">Address is required</div>
        </div>
        <div class="create_account_btn">
            <button>save</button>
        </div>
    </form>
</div>