
.create_account {   
    width: 50%;
    margin: 0 auto;
}
.create_account h2 {
    color: #E5663D;
    font-size: 23px;
    margin-bottom: 30px;
    text-align: center;
}
.create_account form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 2px solid #e2e2e2;
}
.invalid-feedback {
    color: #a94442;
    padding: 10px;
    background-color: #f2dede;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.create_account_btn {
    width: 150px;
    padding: 10px 0px;
    margin: 0 auto;
}
.create_account_btn button {
    width: 150px;
    padding: 10px 0px;
    background-color: #fff;
    border: 2px solid #292929;
    border-radius: 20px;
    color: #292929;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: background-color 0.5s ease 0s, color 0.5s ease 0s, border 0.5s ease 0s; 
}
.create_account_btn button:hover {
    background-color: #292929;
    border: 2px solid #fff;
    color: #fff;
}
.success, .error {
    width: 100%;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    text-align: center;
}
.success.color {
    background-color: darkseagreen;
    color: #fff;
}
.error.color {
    background-color: #E5663D;
    color: #fff;
}
@media screen and (max-width: 768px) {
    .create_account {   
        width:90%;
        padding-top: 40px;
    }

}