<div class="order_summary_wrapper">
  <div class="order_summary_payment">
      <div class="order_summary">
          <h2>Order Summary</h2>
          <div class="plan">
              <div class="heading">
                  <span>Plan</span>
                  <span>Change</span>
              </div>
              <div class="week_plan">{{planTitle}}</div>
          </div>
          <div class="plan">
              <div class="heading">
                  <span>Dietary Selections</span>
                  <span>Change</span>
              </div>
              <div *ngFor="let Info of info">
        
              <div>No {{Info}}</div>
              <!-- <div *ngIf="question1" class="selected_product">No {{extraInfo.value}}</div>
              <div *ngIf="!question2" class="selected_product">No Preference</div>
              <div *ngIf="question2" class="selected_product">No {{question2}}</div>

              <div *ngIf="!question3" class="selected_product">{{question3}} Green tea with honey sachets</div>
              <div *ngIf="question3" class="selected_product">{{question3}} Green tea with honey sachets </div> -->
          </div>
          <div class="sub_total_shipment">
                <span class="error" *ngIf="coupanCodeError != ''">{{coupanCodeError}}</span>
                <div class="block first">
                    <span class="offer_code">Offer Code</span>
                    <input class="offer_code_input" type="text" [(ngModel)]="couponCode" name="code" placeholder="Code" />
                    <button (click)="applyCoupon(couponCode)" class="btn apply">Apply</button>
                </div>
                <div class="block">
                    <span>Delivery</span>
                    <span>50rs</span>
                </div>
              <div class="block">
                  <span>Sub Total</span>
                  <span>{{subTotal - discount}}</span>
              </div>
          </div>
          <div class="submit_btn">
              <button (click)="createOrder()" class="btn">Submit</button>
          </div>
      </div>
      <!-- <div class="payment">
        <a >Payment</a>
      </div> -->
  </div>
  <p>* Deliveries are only on Mondays, so you'll get bag at the closest Monday from when you place your order.</p>
</div>