.order_summary_wrapper {
    box-sizing: border-box;
}
.order_summary_payment {
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
}
.order_summary {
    padding: 10px 20px;
    width: 50%;
    box-sizing: border-box;
}
.order_summary .plan {
    margin-bottom: 40px;
}
.order_summary h2 {
    font-size: 23px;
    color: #E5663D;
}
.order_summary .heading {
    margin-bottom: 15px;
    color: #E5663D;
    font-size: 14px;
}
.order_summary .heading span:first-child {
    margin-right: 25px;
}
.order_summary .week_plan {
    font-size: 14px;
    font-weight: bold;
}
.order_summary .plan .selected_product {
    font-size: 14px;
    margin-bottom: 5px;
}
.sub_total_shipment {
    margin-top: 20px;
    color: #E5663D;
    float: left;
}
.sub_total_shipment .block {
    margin-bottom: 10px;
    width: 100%;
    float: left;
}
.sub_total_shipment .block.first {
    margin-bottom: 30px;
}
.sub_total_shipment .block span:first-child {
    min-width: 135px;
    display: inline-block;
}
.sub_total_shipment .block span.offer_code {
    min-width: 95px;
}
input.offer_code_input {
    border: none;
    border-bottom: 1px solid black;
    width: 70px;
    margin-right: 25px;
    padding: 10px;
}
input:focus {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}
.payment {
    box-sizing: border-box;
    flex: 1;
    text-align: right;
    padding: 22px 100px;
}
.payment a {
    font-size: 23px;    
    font-weight: bold;
    color: #E5663D;
    text-decoration: none;
    cursor: pointer;
}
.order_summary_wrapper p {
    text-align: center;
    color: #E5663D;
    width: 100%;
}

.btn {
    text-decoration: none;
    color:#323232;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 25px;
    border: 2px solid rgba(50, 50, 50, 1);
    margin-top: 50px;
    cursor: pointer;
    outline: none;
    float: left;
    font-family: 'Comfortaa';
}
.btn a {
    text-decoration: none;
    color:#323232;
    padding: 10px 20px;
    background-color:transparent;
    border-radius: 20px;
    border: 2px solid rgba(50, 50, 50, 1);
    
}
.btn:hover {
    color: #fff;
    background-color: rgba(50, 50, 50, 1);
    border: 2px solid rgba(50, 50, 50, 1);
}
.btn.apply {
    float: none;
    margin-top: 0px;
    padding: 5px 30px;
}
.error {
    color: #a94442;
    margin-bottom: 20px;
    display: inline-block;
}
.underline {
    text-decoration: line-through;
    margin-right: 10px;
}
.coupanCodeMessage {
    color: #3c763d;
    width: 100%;
    float: left;
    margin-bottom: 20px;
}