<div class="row">
  <!-- <a routerLink="/admin/pages/customer/cust/3423/plan/123">cust Plan</a>
  <a routerLink="/admin/pages/customer/cust/3423/plan/123/week/1">Week Plan</a> -->
  <div class="col-md-12">
    <card cardTitle="Customer Details">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>No</th>
            <th>Name</th>
            <th>Address</th>
            <th>Area of Delivery</th>
            <th>Next Week</th>
            <th>Accepted</th>
            <!-- <th>Plan Detail</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users, let i=index">
            <td>{{ pageSize * (pageNumber - 1) + i+1 }}</td>
            <td (click)="viewCustomerInfo(user.planInfo._id)" style="cursor: pointer;">{{user.user.firstName}} {{user.user.lastName}}</td>
            <td>{{user.address}}</td>
            <td>{{user.Area_of_delivery}}</td>
            <!-- <td><a routerLink='/admin/pages/customer/cust/3423/plan/123/week/1/' class="btn btn-info"><i class="fa fa-pencil fa-fw"></i>{{user.planInfo.weeks}}</a></td>
            <td><a routerLink="/admin/pages/customer/cust/3423/plan/123" class="btn btn-warning"><i class="fa fa-pencil fa-fw"></i>View</a></td> -->
            <td><a (click)="viewUserWeek(user)" class="btn btn-info"><i class="fa fa-pencil fa-fw"></i>{{getNextWeek(user).value}}</a></td>
            <td *ngIf="user.isAccepted" ><a (click)="acceptOrder(user._id,false,i)" class="btn btn-info"><i class=""></i>Yes</a></td>
            <td *ngIf="!user.isAccepted" ><a (click)="acceptOrder(user._id,true,i)" class="btn btn-danger"><i class=""></i>No</a></td>
            <!-- <td><a (click)="viewUserPlan(user.user._id,user.planInfo.planId)" class="btn btn-warning"><i class="fa fa-pencil fa-fw"></i>View</a></td> -->
          </tr>
          <tr *ngIf="!users && !users.length > 0">
            <td colspan="6">No Records</td>
          </tr>
         
        </tbody>
      </table>
      <div *ngIf="users && users.length > 0" class="pagination-wrapper">
        <div class="form-group pages">
          <div class="my-pagination">
            <button [disabled]="pageNumber == 1" (click)="pageChanged(pageNumber-1)" class="btn btn-primary">Prev</button>
            <span class="btn pageNo" *ngFor="let page of pages; let i=index" [ngClass]="{'active': pageNumber == (i+1)}" (click)="pageChanged(i+1)">{{i+1}}</span>
            <button [disabled]="pageNumber == pages.length" (click)="pageChanged(pageNumber+1)" class="btn btn-primary">Next</button>
          </div>
        </div>
      </div>
    </card>
  </div>
</div>