<div class="row">
  <!-- <a routerLink="/admin/pages/customer/cust/3423/plan/123">cust Plan</a>
  <a routerLink="/admin/pages/customer/cust/3423/plan/123/week/1">Week Plan</a> -->
  <div class="col-md-12">
    <card cardTitle="Customer Details">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>No</th>
            <th>Name</th>
            <th>Address</th>
            <th>Area of Delivery</th>
            <th>Next Week</th>
            <!-- <th>Plan Detail</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users, let i=index">
            <td>{{i+1}}</td>
            <td>{{user.firstName}} {{user.lastName}}</td>
            <td>{{user.address}}</td>
            <td>{{user.Area_of_delivery}}</td>
            <!-- <td><a routerLink='/admin/pages/customer/cust/3423/plan/123/week/1/' class="btn btn-info"><i class="fa fa-pencil fa-fw"></i>{{user.planInfo.weeks}}</a></td>
            <td><a routerLink="/admin/pages/customer/cust/3423/plan/123" class="btn btn-warning"><i class="fa fa-pencil fa-fw"></i>View</a></td> -->
            <td><a (click)="viewUserWeek(user)" class="btn btn-info"><i class="fa fa-pencil fa-fw"></i>{{getNextweek(user.planInfo.startDate)}}</a></td>
            <!-- <td><a (click)="viewUserPlan(user.user._id,user.planInfo.planId)" class="btn btn-warning"><i class="fa fa-pencil fa-fw"></i>View</a></td> -->
          </tr>
         
        </tbody>
      </table>
    </card>
  </div>
</div>
<!-- <div class="row">
    <div class="col-md-12">
      <card cardTitle="Customer Details">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>No</th>
              <th>Name</th>
              <th>Address</th>
              <th>Area of Delivery</th>
              <th>Week Number</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users, let i=index">
              <td>{{i+1}}</td>
              <td>{{user.user.firstName}} {{user.user.lastName}}</td>
              <td>{{user.address}}</td>
              <td>{{user.Area_of_delivery}}</td>
              <td><a (click)="viewUserWeek(user.user._id,user.planInfo.planId,user.planInfo.weeks,user.planInfo._id)" class="btn btn-info"><i class="fa fa-pencil fa-fw"></i>{{user.planInfo.weeks}}</a></td>
            </tr>
           
          </tbody>
        </table>
      </card>
    </div>
  </div> -->