<div class="rf_page_wrapper">
    <h2>Refund and Cancellation</h2>
    <p>We want you to be completely satisfied with your order from Munchies. If for any reason you are displeased with the snacks provided, we will try to make it right, provided the reasons are genuine and proved after an investigation. Please contact us if you don't like your purchase for any reason.</p>
    <div class="policy_block">
        <h3>Refund Policy</h3>
        <p>Please send us an email at bridgethegap@munchpak.in if you need to cancel your order. Let us know why you are unhappy. We’ll give you a refund or send out a replacement - whatever suits you best.

                Your refund will be initiated by us within 2 business days of receiving the refund request and authorization of the refund. No refunds will be made after the 12 hours of cancellation window.</p>
        
    </div>
    <div class="policy_block">
            <h3>Cancellation Policy</h3>
            <p>We understand if you need to cancel your order. Circumstances change and a cancellation is the only thing that can be done. Before cancelling do reach out to us on admin@munchies.co.in and tell us why. No order will be cancelled after 12 hours of placing the order. </p>
        </div>
</div>
